
@{
    ViewBag.Title = "FineManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    List<string> actions = ViewBag.FeatureActions as List<string>;
}
<div id="divfinemanagement">
    <br />
    <div class="col-md-8 offset-2">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Manage Fine</h4><hr />
                @if (actions.Contains("add"))
                {
                <form id="formFineDetails">
                    <div class="form-row mb-2">
                        <div class="col-md-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:110px;">Day Range</label>
                                    <input type="hidden" name="FineId" />
                                    <input type="hidden" name="CompanyId" />
                                </div>
                                <input type="text" name="DayFrom" class="form-control" placeholder="From" onkeypress="return isNumberKey(event)" /> <label style="margin-top:5px;"><-></label>
                                <input type="text" name="DayTO" class="form-control" placeholder="To" onkeypress="return isNumberKey(event)" />
                            </div>
                        </div>
                    </div>
                    <div class="form-row mb-2">
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:110px;">Fine Type</label>
                                </div>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-secondary active">
                                        <input type="radio" name="FineType" value="flat" id="option1" autocomplete="off" checked> Flat
                                    </label>
                                    <label class="btn btn-secondary">
                                        <input type="radio" name="FineType" value="percentage" id="option2" autocomplete="off"> Percent
                                    </label>

                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:110px;">Fine </label>
                                </div>
                                <input type="text" name="FineAmount" class="form-control" onkeypress="return isNumberKey(event)" />
                            </div>
                        </div>
                    </div>
                    <div class="form-row mb-2">
                        
                        <div class="col-md-12">

                            <button class="btn btn-primary pull-right" id="btnSaveFineDetails" type="submit" style="margin-left:10px;" data-name="">Add</button>

                        </div>
                    </div>
                </form>
                }
                <hr />
                @if (actions.Contains("report"))
                {
                <h5 class="titlename">List of all Fine</h5>
                <table id="tblFineDetails" class="table table-bordered">
                    <thead></thead>
                    <tbody></tbody>
                </table>
                }
            </div>
        </div>
    </div>
</div>

<div id="modalEditFine" class="modal fade addModule-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Fine</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form id="formModalFineDetails" style="text-align:left">
                    <div class="row" style="margin-left:10px;">
                        <div class="col-md-12">
                            <input type="hidden" name="FineId" />
                            <input type="hidden" name="CompanyId" value="" />
                            <div class="input-group mt-2">

                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:110px;">Day Range</label>
                                </div>

                                <input type="text" name="DayFrom" class="form-control" placeholder="From" onkeypress="return isNumberKey(event)" /> <label style="margin-top:5px;"><-></label>
                                <input type="text" name="DayTo" class="form-control" placeholder="To" onkeypress="return isNumberKey(event)" />
                            </div>
                            <div class="input-group mt-2">

                                <div class="input-group-prepend mr-5">
                                    <label class="input-group-text" style="width:110px;">Type</label>
                                </div>
                                <label style="margin-top:10px;">
                                    <input type="radio" name="FineType" value="flat" required />
                                    <label for="FineType1" class="radio-label">Flat</label>
                                    &nbsp; &nbsp; &nbsp;

                                    <input type="radio" name="FineType" value="percentage" required />
                                    <label for="FineType2" class="radio-label">Percentage</label>
                                    &nbsp; &nbsp; &nbsp;


                                </label>&nbsp; &nbsp;
                            </div>


                            <div class="input-group mt-2">

                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:110px;">Fine</label>
                                </div>
                                <input type="text" class="form-control" name="FineAmount" onkeypress="return isNumberKey(event)" />
                            </div>

                        </div>
                    </div>
                    <div class="d-flex mt-3" style="justify-content:center">
                        <input type="submit" class="btn btn-default w-25" id="btnEditModalFine" value="Update" />
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<div id="modalDelete" class="modal fade" tabindex="-1" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"> &times; </button>
                <h4 class="modal-title">Info</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning modalclose" id="btnDeleteModal">Yes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<div id="modalInfo" class="modal fade" tabindex="-1" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close redirect" data-dismiss="modal"> &times; </button>
                <h4 class="modal-title">Info</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning modalclose redirect" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        loadData();
    })
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

    $("#btnSaveFineDetails").on('click', function (e) {
        e.preventDefault();
        debugger;
        var fd = $("#formFineDetails").serializeJSON();
        fd.CompanyId=@Session["CompanyId"];
        if (fd.DayFrom == '' || fd.DayTo == '' || fd.FineType == '' || fd.FineAmount =='') return;
        debugger;
        $.ajax({
            url: "/api/PostFineDetails",
            method: "POST",
            data: fd,
            dataType: "json",
            success: function (result) {
                debugger;
                $("#formFineDetails").find("input[type=text],input[type=hidden]").val("");
                toastr.success("Saved Successfully");
                loadData();
            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
    })

    var loadData = function () {
        debugger;
        $.ajax({
            url: "/api/GetAllFineDetails",
            method: "Get",
            data: {
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                debugger;
                    showResultData(result);

            },
            error: function (e) {
                debugger;
                console.error(e);
                alert(e.statusText);
            }
        })
    }

    var showResultData = function (result) {
        debugger;


        $("#tblFineDetails").dataTable({
            data: result,
            'destroy': true,

            columns: [
                {
                    'title': 'Action',
                    'data': 'Action',

                    'render': function (data, type, row) {
                        return `<div style='display:flex'>
                            @if (actions.Contains("edit"))
                            {
                                <a href='#' class='btn btn-info' onclick='editFineDetails("${row.FineId}","${row.DayFrom}","${row.DayTo}","${row.FineType}","${row.FineAmount}")'>Edit
                                    </a> }  &nbsp;
                            @if(actions.Contains("delete"))
                            {  
                                <a href='#' class='btn btn-info' onclick='deleteFineDetails("${row.FineId}","${row.DayFrom}","${row.DayTo}","${row.FineType}","${row.FineAmount}")'>Delete
                                </a>
                            }
                            </div>`;
                    }
                },

                {
                    'title': 'SN',
                    'data': 'SN',
                    'render': function (data, type, row, meta) {
                        return "<span>" + (meta.row + 1) + "</span>";
                    }
                },

                {
                    'title': 'DayFrom',
                    'data': 'DayFrom'
                },
                {
                    'title': 'DayTo',
                    'data': 'DayTo'
                },
                {
                    'title': 'FineType',
                    'data': 'FineType'
                },
                {
                    'title': 'Fine',
                    'data': 'FineAmount'
                },

            ]
        });
        debugger;
        $("#titlename").html("List of Fine Details");
    }

    function editFineDetails(id, from, to, type, fine) {
        debugger;
        $("#modalEditFine").modal('show');
        $("#modalEditFine [name='FineId']").val(id);
        $("#modalEditFine [name='DayFrom']").val(from);
        $("#modalEditFine [name='DayTo']").val(to);
        $("#modalEditFine input[name='FineType'][value=" + type + "]").prop('checked', true);
        $("#modalEditFine [name='FineAmount']").val(fine);
    }

    $("#btnEditModalFine").on('click', function (e) {
        debugger;
        e.preventDefault();
        var fd = $("#formModalFineDetails").serializeJSON();
        fd.CompanyId=@Session["CompanyId"];
        $.ajax({
            url: "/api/PostFineDetails",
            method: "POST",
            data: fd,
            dataType: "json",
            success: function (result) {
                debugger;
                $("#modalEditFine").modal('hide');
                $("#formModalFineDetails").find("input[type=text],input[type=hidden],input[type=radio]").val("");
                toastr.success("Updated Successfully");
                loadData();
            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
    })

    var deleteFineDetails = function (id, from, to, type, fine) {
        debugger;
            swal({
                title: "Do You want to delete Fine details of: Day From: " + from + " Day To:  " + to + " Type:  " + type + " Fine: " + fine + " ?",
            text: "You will not be able to restore the data!",
            icon: "warning",
            buttons: true,
            dangerMode: true
        }).then((willDelete) => {
            if (willDelete) {
      $.ajax({
            url: "/api/DeleteFineDetails",
            method: "POST",
            data: {
                FineId: id,
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
          success: function (result) {
              toastr.success("Deleted Successfully");
                loadData();
            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })


            }
        })
    }


</script>

