
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logout</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div id="body">
        Logging out... Please wait.
    </div>
</body>
</html>





<script>
    $(document).ready(function () {
        debugger;
        var home = localStorage.getItem("homepage");
        location.href = home
        if (!home) {
            $("#body").html("Oops! Something went wrong. Re-login into the system.")
        }
    })
</script>
