
@{
    ViewBag.Title = "PrintBilling";
    Layout = null;
}
<link href="~/Content1/bootstrap.css" rel="stylesheet" />
<link href="~/Content1/Site.css" rel="stylesheet" />
<script src="~/Scripts1/modernizr-2.8.3.js"></script>
<script src="~/Scripts1/jquery-3.3.1.js"></script>
<style>
    .title-header {
        background-color: black;
        font-size: 16px;
        font-family: 'Times New Roman', Times, serif;
        color: white;
        border-radius: 10px;
        padding: 5px 15px 5px 15px;
        margin-left: auto;
        margin-top: 10px;
        text-align: center;
    }

    .text-line {
        background-color: transparent;
        color: peru;
        outline: none;
        outline-style: none;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: dotted #808080 1px;
        width: 150px;
        font-size: medium;
    }

    .table span {
        text-align: left;
    }
</style>
<style media="print">
    .main-header {
        font-size: 16px !important;
        font-display: block;
        margin-left: auto;
        text-align: center !important;
    }

    @@page {
        size: A5;
        margin-top: 0px;
    }



    @@media print {
        body * {
            visibility: hidden;
            margin-left: 5px;
            margin-right: 5px;
            background-color: lightyellow;
        }

        #not-print * {
            display: none;
        }

        #to-print, #to-print * {
            visibility: visible;
        }

        .text-line {
            min-width: 50px;
            width: 100px;
        }
        /*#to-print {
            display: block !important;
            position: absolute;
            left: 0;
            top: 0;
            height: 99%;
        }*/
    }
</style>
<div id="to-print">
    <div class="row">
        <div class="col-sm-5" style="background-color:lightyellow; padding-top:20px">
            <div style="text-align:center">
                <span class="main-header" style="font-size:16px;">Dibya Jyoti English Secondary School</span><br />
                <span class="sub-header" style="font-size:12px;">Mahalaxmi-1,Gwarko,Imadol,Latitpur,Nepal</span><br />
                <span class="sub-header" style="font-size:10px;">Tel:01-5202490,Email:dibyajyotischool2046@gmail.com</span><br />
                <br />
                <span class="title-header">Claim Bill</span>
            </div>

            <div>
                <table style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <label>Bill No:</label> <span id="billno"></span>
                            </td>
                            <td style="text-align:end"><label>Date:</label><span id="date"></span></td>
                        </tr>
                        <tr>
                            <td>
                                <label>Student Name:</label><span id="name"></span>
                            </td>
                            <td style="text-align:end"><label>StudentId:</label><span id="studentid"></span></td>
                        </tr>
                        <tr>
                            <td>
                                <label>Class:</label> <span id="class"></span>
                            </td>
                            <td style="text-align:end"><label>Section:</label><span id="section"></span></td>
                        </tr>
                        <tr>
                            <td>
                                <label>Batch:</label> <span id="batch"></span>
                            </td>
                            <td style="text-align:end"><label>Month:</label><span id="month"></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <table class="bordered-table" id="tblShowPrintBill">
                    <thead></thead>
                    <tbody></tbody>
                </table>
            </div>
            <br />
            <div>
                <table style="width:100%">
                    <tbody>
                        <tr>
                            <td style="text-align:end">
                                <label>Total:</label> <span id="total"></span>
                            </td>

                        </tr>

                    </tbody>
                </table>
            </div>
            <div>
                <table style="width:100%">
                    <tbody>
                        <tr>
                            <td style="text-align:end">
                                <label>Current Due:</label> <span id="currentdue"></span>
                            </td>

                        </tr>

                    </tbody>
                </table>
            </div>
            <div>
                <table style="width:100%">
                    <tbody>
                        <tr>
                            <td style="text-align:end">
                                <label>Previous Due:</label> <span id="due"></span>
                            </td>

                        </tr>

                    </tbody>
                </table>
            </div>
            <div>
                <table style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <label>Signature:</label> <input type="text" class="text-line" />
                            </td>
                            <td style="text-align:end"><label>Grand Total:</label><span id="grandtotal"></span></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 text-center">
                <button class=" btn btn-warning btn-md glyphicon glyphicon-print" id="print" onclick=" myFunction()"> Print</button>
            </div>
        </div>
    </div>

</div>
<script>
    $(document).ready(function () {
        debugger;
        var id ='@ViewBag.Id';
        var month = '@ViewBag.month';
        var batch = '@ViewBag.batch';
        debugger;
        getPrintBillingDetails(id, month,batch);
    })
    function myFunction() {
        $("#print").hide();
        window.print();

    }
    var getPrintBillingDetails = function (id, month ,batch) {
        debugger;
        $.ajax({
            url: "/api/GetPrintBillingDetails",
            method: "GET",
            data: {
                BillingId: id,
                Month: month,
                Batch: batch,
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                debugger;
                var info = result[0];
                var details = result[1];
                var due = result[2];
                var total = result[3];
                var currentDue = result[4];

                debugger;
                var now = new Date();
                var nowDate = now.toISOString().split('T')[0];
                var studentname = [info[0]["FirstName"], ' ', info[0]["LastName"]].join('');
                $("#billno").html(info[0]['BillingId']);
                $("#name").html(studentname);
                $("#class").html(info[0]['Class']);
                $("#section").html(info[0]['Section']);
                $("#batch").html(info[0]['Batch']);
                $("#studentid").html(info[0]['StudentId']);
                $("#month").html(convertMonth(info[0]["Month"]));
                $("#date").html(nowDate);
                var preDue = 0;
                if (total[0]["total"] == null) {
                    var grandtotal = 0;
                    preDue = 0;
                    $("#due").html(preDue);
                }
                else {
                    debugger;
                    var grandtotal = parseInt(total[0]["total"]) + parseInt(due[0]["fine"]) - parseInt(due[0]["dis"]);
                    preDue = grandtotal - parseInt(due[0]["paid"]);
                    $("#due").html(preDue);
                }
                var tblBody = "";
                var tblHeader = "<th>SN</th><th>Particulars</th><th>Amount</th>";
                    var SN = 1;
                for (var r in details) {
                    if (details[r]["FeeName"] == "Yearly" && details[r]["Amount"] == 0) { }
                    else {
                        tblBody += "<tr style='text-align:center'><td>" + SN + "</td>";
                        tblBody += "<td style='text-align:center;'>" + details[r]["FeeName"] + "</td>";
                        tblBody += "<td style='text-align:center;'>" + details[r]["Amount"] + "</td>";
                        tblBody += "</tr>";
                        SN++;
                    }
                }
                $("#tblShowPrintBill thead").html("<tr>" + tblHeader + "</tr>");
                $("#tblShowPrintBill tbody").html(tblBody);

                var total = 0;
                for (var r in details) {
                    total += parseInt(details[r]["Amount"]);
                }


                $("#total").html(total);
                var due = total - parseInt(currentDue[0]["dis"]) + parseInt(currentDue[0]["fine"]) - parseInt(currentDue[0]["paid"])
                var grandtotal =preDue + due;
                $("#currentdue").html(due);
                $("#grandtotal").html(grandtotal);
            },
            error: function (e) {

            }
        })
    }
    var convertMonth = function (month) {
        debugger;
        switch (month) {
            case "01": return "Baisakh";
            case "02": return "Jesth";
            case "03": return "Asar";
            case "04": return "Sawan";
            case "05": return "Bhadau";
            case "06": return "Aaswin";
            case "07": return "Kartik";
            case "08": return "Mangsir";
            case "09": return "Push";
            case "10": return "Magh";
            case "11": return "Falgun";
            case "12": return "Chait";
        };
    }


</script>