
@{
    ViewBag.Title = "ReceiptManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="divReceiptDetails">
   

    <div id="divReceiptReport">
        <h4 class="clearfix" id="reportname">List of all Receipt Details </h4>
        <div class="card p-3">
            <div class="row" style="margin-bottom:10px;">
                <div class="col-sm-3">
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" style="width:50px">Batch</label>
                        </div>
                        <select id="searchBatch" class="form-control"></select>

                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" style="width:50px">Class</label>
                        </div>
                        <select id="searchClass" class="form-control"></select>

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" style="width:90px">Student Id</label>
                        </div>
                        <input type="text" class="form-control" id="searchStudentId" placeholder="" />

                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" style="width:60px">Month</label>
                        </div>
                        <select id="searchMonth" class="form-control">
                            <option value="">--select--</option>
                            <option value="01">Baisakh</option>
                            <option value="02">Jesth</option>
                            <option value="03">Asar</option>
                            <option value="04">Sawan</option>
                            <option value="05">Bhadau</option>
                            <option value="06">Aaswin</option>
                            <option value="07">Kartik</option>
                            <option value="08">Mangsir</option>
                            <option value="09">Push</option>
                            <option value="10">Magh</option>
                            <option value="11">Falgun</option>
                            <option value="12">Chait</option>

                        </select>

                    </div>
                </div>

               
                <div class="col-sm-2">
                    <button class="btn btn-default btn-block" style="margin-top:5px;" id="btnSearchReceipt" type="submit" data-name="">Search</button>
                </div>




            </div><br />

            <div class="row">
                <div class="col-sm-12">
                    <div style="width:100%;overflow:auto;">
                        <table id="tblReceiptDetails" class="table table-bordered table-striped"></table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="modalInfo"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close redirect" data-dismiss="modal"> &times; </button>
                <h4 class="modal-title" id="modal-title">Info</h4>
            </div>
            <div class="modal-body" id="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger redirect" id="close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="modalCancel"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"> &times; </button>
                <h4 class="modal-title" id="modal-title1">Info</h4>
            </div>
            <div class="modal-body" id="modal-body1">
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning modalclose" id="btnCancelModal" style="width:100px">Yes</button>
                <button type="button" class="btn btn-danger" id="close" data-dismiss="modal" style="width:100px">No</button>

            </div>
        </div>
    </div>
</div>
<div id="modalDelete" class="modal fade" tabindex="-1" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"> &times; </button>
                <h4 class="modal-title">Info</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning modalclose" id="btnDeleteModal">Yes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="modalInfo"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close redirect" data-dismiss="modal"> &times; </button>
                <h4 class="modal-title" id="modal-title">Info</h4>
            </div>
            <div class="modal-body" id="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger redirect" id="close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        debugger;
        hideAll();
        $("#divReceiptDetails").show();
        getClassBatchFaculty();
    })

    var hideAll = function () {
        $("#divReceiptDetails").hide();
       
    }


    var getClassBatchFaculty = function () {
        $.ajax({
            url: "/api/GetClassBatchFaculty",
            method: "GET",
            data: {
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                var classDetails = result[0];
                var batchDetails = result[1];
                var facultyDetails = result[2];
                if (classDetails != undefined) {
                    debugger;
                    var v = "<option value=''>--Select--</option>";
                    for (var i in classDetails) {
                        v += "<option value=" + classDetails[i]['ClassName'] + ">" + classDetails[i]['ClassName'] + "</option>";
                    }
                    $("#searchClass").html(v);
                    $("#searchClass").val(classDetails[0]['ClassName']);
                }
                if (batchDetails != undefined) {
                    var v = "<option value=''>--Select--</option>";
                    for (var i in batchDetails) {
                        v += "<option value='" + batchDetails[i]['FromYear'] + "-" + batchDetails[i]['ToYear'] + "'>" + batchDetails[i]['FromYear'] + "-" + batchDetails[i]['ToYear'] + "</option>";
                    }
                    $("#searchBatch").html(v);
                    $("#searchBatch").val(batchDetails[0]['FromYear'] + "-" + batchDetails[0]['ToYear']);
                }
                if (facultyDetails != undefined) {
                    var v = "<option value=''>--Select--</option>";
                    for (var i in facultyDetails) {
                        v += "<option value=" + facultyDetails[i]['FacultyName'] + ">" + facultyDetails[i]['FacultyName'] + "</option>";
                    }
                    $("#searchFaculty").html(v);
                }
                $("#searchMonth").val("01");
                debugger;
                loadData();
            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
    }

    var loadData = function () {
        var batch = $("#searchBatch").val();
        var _class = $("#searchClass").val();
        var month = $("#searchMonth").val();
        $.ajax({
            url: "/api/GetAllReceiptDetails",
            method: "GET",
            data: {
                Batch: batch,
                Class: _class,
                Month: month,
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                debugger;
                showResultData(result);

            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
    }

    var showResultData = function (data) {
        debugger;
        for (var r in data) {
            data[r].Month = convertMonth(data[r].Month);
        }

        $("#tblReceiptDetails").dataTable({
            data: data,
            'destroy': true,
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'pdf',
                    footer: false,
                    exportOptions: {
                        columns: [1, 2, 3, 4, 5, 6, 7, 8,9,10,11]
                    }
                },
                {
                    extend: 'csv',
                    footer: false,
                    exportOptions: {
                        columns: [1, 2, 3, 4, 5, 6, 7, 8,9,10,11,12,13]
                    }

                },
                {
                    extend: 'excel',
                    footer: false,
                    exportOptions: {
                        columns: [1, 2, 3, 4, 5, 6, 7, 8,9,10,11,12,13]
                    }
                }
            ],
            columns: [
                {
                    'title': 'Action',
                    'data': 'Action',

                    'render': function (data, type, row) {
                        //if (row.Status == "0") {
                        //    return "<div style='display:flex;justify-content:flex-end;'><a href='#' class='btn btn-info' onclick='PrintReceipt(\"" + row.ReceiptId + "\",\"" + row.BillingId + "\")'>Print</a></div>";
                        //}
                        //else {
                            return "<div style='display:flex'><a href='#' class='btn btn-info' onclick='PrintReceipt(\"" + row.ReceiptId + "\",\"" + row.BillingId + "\")'>Print</a>&nbsp;&nbsp;<a href='#' class='btn btn-warning' onclick='deleteReceipt(\"" + row.ReceiptId + "\",\"" + row.StudentId + "\",\"" + row.PaidAmount + "\",\"" + row.Month + "\",\"" + row.Batch + "\")'>Cancel</a></div>";

                        //}
                    }
                },

                {
                    'title': 'SN',
                    'data': 'SN',
                    'render': function (data, type, row, meta) {
                        return "<span>" + (meta.row + 1) + "</span>";
                    }
                },

                {
                    'title': 'ReceiptId',
                    'data': 'ReceiptId'
                },
                {
                    'title': 'Studentid',
                    'data': 'StudentId'
                },
                {
                    'title': 'Name',
                    'render': function (data, type, row, meta) {
                        return row.FirstName + ' ' + row.LastName;
                    }
                },
                {
                    'title': 'BillingId',
                    'data': 'BillingId'
                },
                {
                    'title': 'Batch',
                    'data': 'Batch'
                },
                {
                    'title': 'Month',
                    'data': 'Month'
                },
                {
                    'title': 'Date',
                    'data': 'Date'
                },
                {
                    'title': 'Total',
                    'data': 'TotalAmount'
                },
                {
                    'title': 'Paid',
                    'data': 'PaidAmount'
                },
                {
                    'title': 'Due',
                    'data': 'DueAmount'
                },
                {
                    'title': 'Discount',
                    'data': 'Discount'
                },
                {
                    'title': 'Fine',
                    'data': 'Fine'
                },
                {
                    'title': 'PaymentMethod',
                    'data': 'PaymentMethod'
                },
                {
                    'title': 'BankName',
                    'data': 'BankName'
                },
                {
                    'title': 'ChequeNo',
                    'data': 'ChequeNo'
                },
                {
                    'title': 'CreatedBy',
                    'data': 'CreatedBy'
                }

            ]
        });
        debugger;
        $("#titlename").html("List of Receipt Details");
    }

    $("#btnSearchReceipt").on('click', function (e) {
        e.preventDefault();
        debugger;
        var batch = $("#searchBatch").val();
        var _class = $("#searchClass").val();
        var studentid = $("#searchStudentId").val();
        var month = $("#searchMonth").val();
        debugger;
     
            debugger;
            $.ajax({
                url: "/api/SearchReceiptDetails",
                method: "GET",
                data: {
                    Batch: batch,
                    Class: _class,
                    StudentId: studentid,
                    Month: month,
                    CompanyId:@Session["CompanyId"],
                },
                dataType: "json",
                success: function (result) {
                    debugger;
                    showResultData(result);

                },
                error: function (e) {
                    console.error(e);
                    alert(e.statusText);
                }
            })
        
    })
   
    var cancel = function () {

        debugger;
        $('#modalCancel').modal('show');
        $('#modal-title1').html("Confirm");
        $('#modal-body1').html("Are You Sure You Want to Cancel ?");
    }
    $("#btnCancelModal").on('click', function () {
        debugger;
        $('#modalCancel').modal('hide');
        hideAll();
        $("#divReceiptDetails").show();
        debugger;
    });

    var PrintReceipt = function (receiptid,billingid) {
        debugger;
        window.open("/Home/PrintReceipt?ReceiptId=" + receiptid + "&BillingId=" + billingid);
    }

    var deleteReceipt = function (receiptid, studentid,amount,month,batch) {
        debugger;
       
        swal({
            title: "Do you want to delete Receipt details of:  StudentId :  " + studentid + " Month :  " + month + " Amount:  " + amount + " ?",
            text: "You will not be able to restore the data!",
            icon: "warning",
            buttons: true,
            dangerMode: true
        }).then((willDelete) => {
            if (willDelete) {
             month = convertMonthInt(month);

        debugger;
        $.ajax({
            url: "/api/DeleteReceiptDetails",
            method: "POST",
            data: {
                ReceiptId: receiptid,
                Batch: batch,
                StudentId: studentid,
                Month: month,
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                debugger;
               
               toastr.success("Deleted successfully.");
               
                    debugger;
                    var batch = $("#searchBatch").val();
                    var _class = $("#searchClass").val();
                    var studentid = $("#searchStudentId").val();
                    var month = $("#searchMonth").val();
                    debugger;

                    debugger;
                    $.ajax({
                        url: "/api/SearchReceiptDetails",
                        method: "GET",
                        data: {
                            Batch: batch,
                            Class: _class,
                            StudentId: studentid,
                            Month: month,
                            CompanyId:@Session["CompanyId"],
                        },
                        dataType: "json",
                        success: function (result) {
                            debugger;
                            showResultData(result);

                        },
                        error: function (e) {
                            console.error(e);
                            alert(e.statusText);
                        }
                    })

                  
                  

                
            },

            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
            }
        })
    }

    
</script>


