
@{
    ViewBag.Title = "StaffManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="StaffDashboard">
    <a href="/Home/StaffForm" class="btn pull-right btn-default"> + Add New Staff</a>

    <div id="divTeacherReport">
        <h4 class="clearfix" id="reportname">List of all Staff Details </h4>
        <div class="card p-3">
           
            <div class="row">
                <div class="col-sm-12">
                    <div style="width:100%;overflow:auto;">
                        <table id="tblTeacherReport" class="table table-bordered table-striped"></table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="modalInfo"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close redirect" data-dismiss="modal"> &times; </button>
                <h4 class="modal-title" id="modal-title">Info</h4>
            </div>
            <div class="modal-body" id="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger redirect" id="close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="modalDeleteTeacher"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"> &times; </button>
                <h4 class="modal-title" id="modal-title">Info</h4>
            </div>
            <div class="modal-body" id="modal-body">
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning modalclose" id="btnDeleteModalTeacher" style="width:100px">Yes</button>
                <button type="button" class="btn btn-danger" id="close" data-dismiss="modal" style="width:100px">No</button>

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        loadData();
    })


    var loadData = function () {
        debugger;
        $.ajax({
            url: "/api/GetTeacherDetails",
            method: "GET",
            data: {
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (data) {
                debugger;
                if (data.length != 0) {
                    debugger;
                    showResultData(data);


                }
                else {
                    $("#divteacherReport").hide();
                    
                }
            },
            error: function (e) {
                debugger;
                console.error(e);
                alert(e.statusText);
            }
        });
    }

    var showResultData = function (data) {
        debugger;

        $("#tblTeacherReport").dataTable({
            data: data,
            //'searching': false,
            'destroy': true,
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'pdf',
                    footer: false,
                    alignment: 'center',
                    title: 'List of Teacher details',
                    exportOptions: {
                        columns: [1, 2, 3, 4, 5, 6, 7]
                    }
                   
                },
                {
                    extend: 'csv',
                    footer: false,
                    exportOptions: {
                        columns: [1, 2, 3, 4, 5, 6, 7]
                    }
                   
                },
                {
                    extend: 'excel',
                    footer: false,
                    exportOptions: {
                        columns: [1, 2, 3, 4, 5, 6, 7]
                    }
                }
            ],
            columns: [
                {
                    'title': 'Action',
                    'data': 'Action',
                    'render': function (data, type, row) {
                        return "<div style='display:flex'><a href='/Home/EditStaffDetails/" + row.TeacherId + "' class='btn btn-info'>Edit</a>&nbsp;<a href='#' class='btn btn-info' onclick='deleteTeacher(\"" + row.TeacherId + "\",\"" + row.FirstName + "\",\"" + row.LastName + "\")'>Delete</a>&nbsp;<a href='/Home/ViewStaffDetails/" + row.TeacherId + "' class='btn btn-info'>View</a></div>";
                    },
                    'sortable': false,
                },
                {
                    'title': 'SN',
                    'data': 'SN',
                    'render': function (data, type, row, meta) {
                        return "<span>" + (meta.row + 1) + "</span>";
                    }
                },

                {
                    'title': 'Name',
                    'render': function (data, type, row, meta) {
                        return row.FirstName + ' ' + row.LastName;
                    }
                },
                
                {
                    'title': 'JoiningDate',
                    'data': 'JoiningDate'
                },
                {
                    'title': 'Designation',
                    'data': 'Designation'
                },
                {
                    'title': 'Department',
                    'data': 'Department'
                },
                {
                    'title': 'Faculty',
                    'data': 'Faculty'
                },
                {
                    'title': 'Gender',
                    'data': 'Gender'
                },
                {
                    'title': 'Status',
                    'data': 'Status'
                }
                
            ]
        });
        debugger;

        $("#titlename").html("List of Teacher Details");


    }

    var deleteTeacher = function (id,firstname,lastname) {
        debugger;
        
          swal({
              title: "You're about to delete the record of Staff : " + firstname + " " + lastname + " Are you sure ? ",
            text: "You will not be able to restore the data!",
            icon: "warning",
            buttons: true,
            dangerMode: true
        }).then((willDelete) => {
            if (willDelete) {

                $.ajax({
                    url: "/api/DeleteTeacher",
                    method: "Post",
                    data: {
                        StaffId: id,
                        CompanyId:@Session["CompanyId"],
                    },
                    dataType: "json",
                    success: function (result) {
                        debugger;
                        toastr.success("Deleted Successfully");
                        loadData();
                            }
                        })
                    }
                })

            }
      
    
</script>

