
@{
    ViewBag.Title = "StaffAttendance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    List<string> actions = ViewBag.FeatureActions as List<string>;
}
<div id="StaffAttendanceDashboard">
@if (actions.Contains("add"))
{
    <a href="/Home/StaffAttendanceForm" class="btn btn-default pull-right"> + Add Staff Attendance</a>
}
@if (actions.Contains("report"))
{
    <div id="divStafAttendanceReport">
        <h4 class="clearfix" id="reportname" style="color:orangered"></h4>
        <div class="card p-3">
            <div class="row" style="margin-bottom:10px;">
                <div class="col-sm-2">

                    <label style="width:60px;margin-left:60px;">Batch</label>

                    <select id="searchBatch" class="form-control"></select>


                </div>
                <div class="col-sm-2">

                    <label style="width:100px;margin-left:40px;">Department</label>

                    <select id="searchDepartment" class="form-control"></select>


                </div>
                <div class="col-sm-2">

                    <label style="width:80px;margin-left:40px;">Designation</label>

                    <select id="searchDesignation" class="form-control"></select>


                </div>
                <div class="col-sm-4">

                    <label style="width:100px;margin-left:130px;">DateRange</label>

                    <div class="input-group">
                        <input type="text" id="datefrom" placeholder="साल-महिना-गते" class="form-control nepali-calendar" /> <label style="margin-top:6px;">↔</label>
                        <input type="text" id="dateto" placeholder="साल-महिना-गते" class="form-control nepali-calendar" />
                    </div>
                </div>


                <div class="col-sm-2" style="margin-top:25px;">
                    <button class="btn btn-default btn-block" style="margin-top:5px;" id="btnSearch" type="submit" data-name="">Search</button>
                </div>
            </div><br />

            <div class="row">
                <div class="col-sm-12">
                    <div style="width:100%;overflow:auto;">
                        <table id="tblStaffAttendanceReport" class="table table-bordered table-striped"></table>
                    </div>
                </div>

            </div>
        </div>
    </div>
}
</div>


<div id="modalShowAttendance" class="modal fade company-user-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Attendance Details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="input-group mt-2">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:130px;">ID</label>
                                </div>
                                <input class="form-control" type="text" id="showteacherid" readonly />
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="input-group mt-2">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:130px;">Name</label>
                                </div>
                                <input class="form-control" type="text" id="showname" readonly />
                            </div>

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="input-group mt-2">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:130px;">Session</label>
                                </div>
                                <input class="form-control" type="text" id="showsession" readonly />
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="input-group mt-2">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:130px;">Date Range</label>
                                </div>
                                <input class="form-control" type="text" id="showdate" readonly />
                            </div>

                        </div>
                    </div><br />

                    <div>
                        <table id="tblShowAttendanceDetails" class="table table-bordered" style="width:100%;overflow:auto"></table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.nepali-calendar').nepaliDatePicker();
        getClassBatchFaculty();
        getDepartment();
        loadData();
    })

    var getClassBatchFaculty = function () {
        $.ajax({
            url: "/api/GetClassBatchFaculty",
            method: "GET",
            data: {
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                var classDetails = result[0];
                var batchDetails = result[1];
                var facultyDetails = result[2];
                var sectionDetails = result[3];
                //if (classDetails != undefined) {
                //    debugger;
                //    var v = "<option value=''>--Select--</option>";
                //    for (var i in classDetails) {
                //        v += "<option value=" + classDetails[i]['ClassName'] + ">" + classDetails[i]['ClassName'] + "</option>";
                //    }
                //    $(".class").html(v);
                //    $("#searchClass").html(v);
                //}
                if (batchDetails != undefined) {
                    var v = "<option value=''>--Select--</option>";
                    for (var i in batchDetails) {
                        v += "<option value='" + batchDetails[i]['SessionFrom'] + "-" + batchDetails[i]['SessionTo'] + "'>" + batchDetails[i]['SessionFrom'] + " - " + batchDetails[i]['SessionTo'] + "</option>";
                    }
                    $("#searchBatch").html(v);
                }
                //if (facultyDetails != undefined) {
                //    var v = "<option value=''>--Select--</option>";
                //    for (var i in facultyDetails) {
                //        v += "<option value=" + facultyDetails[i]['FacultyName'] + ">" + facultyDetails[i]['FacultyName'] + "</option>";
                //    }
                //    $(".faculty").html(v);
                //}
                //if (sectionDetails != undefined) {
                //    var v = "<option value=''>--Select--</option>";
                //    for (var i in sectionDetails) {
                //        v += "<option value=" + sectionDetails[i]['SectionName'] + ">" + sectionDetails[i]['SectionName'] + "</option>";
                //    }
                //    $(".section").html(v);
                //    $("#searchSection").html(v);
                //}
            }
        })
    }

    var getDepartment = function () {
        $.ajax({
            url: "/api/GetAllDesignation",
            method: "GET",
            data: {
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                var department = result[0];
                var designation = result[1];
                if (department != undefined) {
                    debugger;
                    var v = "<option value=''>--Select--</option>";
                    for (var i in department) {
                        v += "<option value=" + department[i]['Department'] + ">" + department[i]['Department'] + "</option>";
                    }
                    $("#searchDepartment").html(v);
                }
                if (designation != undefined) {
                    debugger;
                    var v = "<option value=''>--Select--</option>";
                    for (var i in designation) {
                        v += "<option value=" + designation[i]['Designation'] + ">" + designation[i]['Designation'] + "</option>";
                    }
                    $("#searchDesignation").html(v);
                }
            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
    }

    $("#btnSearch").on('click', function (e) {
        e.preventDefault();
        var batch = $("#searchBatch").val();
        var department = $("#searchDepartment").val();
        var designation = $("#searchDesignation").val();
        var datefrom = $("#datefrom").val();
        var dateto = $("#dateto").val();
        if (batch == '' && department == '' && designation == '' && datefrom == '' && dateto == '') {
            loadData();
            return;
        }
        if (batch == '' && department == '' && designation == '') return;
        if (datefrom == '' || dateto == '') {
            alert("Please select Date");
            return;
        }
        $.ajax({
            url: "/api/SearchStaffAttendanceDetails",
            method: "GET",
            data: {
                Batch: batch,
                Department: department,
                Designation: designation,
                DateFrom: datefrom,
                DateTo: dateto,
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (data) {
                debugger;

                showResultData(data, datefrom, dateto);

            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })

    })
    var showResultData = function (data,datefrom,dateto) {

        $("#tblStaffAttendanceReport").dataTable({
            data: data,
            'destroy': true,
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'pdf',
                    messageTop: "List of Attendance Details between " + datefrom + " and " + dateto + " ",
                    footer: false,

                },
                {
                    extend: 'csv',
                    footer: false,

                },
                {
                    extend: 'excel',
                    footer: false,

                }
            ],
            columns: [

                {
                    'title': 'SN',
                    'data': 'SN',
                    'render': function (data, type, row, meta) {
                        return "<span>" + (meta.row + 1) + "</span>";
                    }
                },

                {
                    'title': 'FirstName',
                    'data': 'FirstName'
                },
                {
                    'title': 'LastName',
                    'data': 'LastName'
                },
                {
                    'title': 'Department',
                    'data': 'Department'
                },
                {
                    'title': 'Designation',
                    'data': 'Designation'
                },
                {
                    'title': 'TotalDays',
                    'data': 'TotalWorking'
                },
                {
                    'title': 'Present',
                    "render": function (data, type, row, meta) {
                        data = "<a href='#' onclick='showPresentDays(\"" + row.Batch + "\",\"" + row.TeacherId + "\",\"" + datefrom + "\",\"" + dateto + "\")'>" + row.Present + "</a>";
                        return data;
                    }

                },
                {
                    'title': 'Absent',
                    "render": function (data, type, row, meta) {
                        data = "<a href='#' onclick='showPresentDays(\"" + row.Batch + "\",\"" + row.TeacherId + "\",\"" + datefrom + "\",\"" + dateto + "\")'>" + row.Absent + "</a>";
                        return data;
                    }
                },

            ]
        });
        debugger;
        $("#reportname").html("List of Attendance Details between " + datefrom + " and " + dateto + " ");

    }

    var showPresentDays = function (batch, teacherid, datefrom, dateto) {
        debugger;
        $.ajax({
            url: "/api/GetStaffAttendanceDetails",
            method: "GET",
            data: {
                Batch: batch,
                TeacherId: teacherid,
                DateFrom: datefrom,
                DateTo: dateto,
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                debugger;
                var Name = result[0]["FirstName"] + " " + result[0]["LastName"];
                $("#modalShowAttendance").modal('show');
                $("#showteacherid").val(teacherid);
                $("#showname").val(Name);
                $("#showsession").val(batch);
                debugger;
                $("#showdate").val(datefrom + " to " + dateto);
                $("#tblShowAttendanceDetails").dataTable({
                    data: result,
                    "destroy": true,
                    "paging": false,
                    "ordering": false,
                    "info": false,
                    "searching": false,

                    columns: [

                        {
                            'title': 'SN',
                            'data': 'SN',
                            'render': function (data, type, row, meta) {
                                return "<span>" + (meta.row + 1) + "</span>";
                            }
                        },

                        {
                            'title': 'Date',
                            'data': 'Date'
                        },
                        {
                            'title': 'Attendance',
                            'data': 'Attendance'
                        },

                    ]
                });
            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
    }

    var loadData = function () {
        $.ajax({
            url: "/api/GetAllStaffAttendance",
            method: "GET",
            data: {
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (data) {
                debugger;
                showResultData(data.presentAttendance, data.date, data.nepaliDate);
            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
    }

</script>

