
@{
    ViewBag.Title = "StudentManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    List<string> actions = ViewBag.FeatureActions as List<string>;
}
<div id="StudentDashboard">
    @if (actions.Contains("add"))
    {
        <a href="/Home/StudentForm" class="btn pull-right btn-default"> + Add New Student</a>
    }
    @if (actions.Contains("report"))
    {
        <div id="divStudentReport">
            <h4 class="clearfix" id="reportname">List of all student </h4>
            <div class="card p-3">
                <div class="row" style="margin-bottom:10px;">
                    <div class="col-sm-2">
                        <div class="input-group mt-2">
                            <div class="input-group-prepend">
                                <label class="input-group-text" style="width:50px">Batch</label>
                            </div>
                            <select id="searchBatch" class="form-control"></select>

                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="input-group mt-2">
                            <div class="input-group-prepend">
                                <label class="input-group-text" style="width:50px">Class</label>
                            </div>
                            <select id="searchClass" class="form-control"></select>

                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="input-group mt-2">
                            <div class="input-group-prepend">
                                <label class="input-group-text" style="width:60px">Section</label>
                            </div>
                            <select id="searchSection" class="form-control"></select>

                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="input-group mt-2">
                            <div class="input-group-prepend">
                                <label class="input-group-text" style="width:50px">Name</label>
                            </div>
                            <input type="text" class="form-control" id="txtnamefield" placeholder="" />

                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="input-group mt-2">
                            <div class="input-group-prepend">
                                <label class="input-group-text" style="width:50px">Type</label>
                            </div>
                            <select id="searchType" class="form-control"></select>

                        </div>
                    </div>

                    <div class="col-sm-2">
                        <button class="btn btn-default btn-block" style="margin-top:5px;" id="btnSearch" type="submit" data-name="">Search</button>
                    </div>




                </div><br />

                <div class="row">
                    <div class="col-sm-12">
                        <div style="width:100%;overflow:auto;">
                            <table id="tblStudentReport" class="table table-bordered table-striped"></table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }
    </div>



<script>
    $(document).ready(function () {
        debugger;
        //google.charts.load('current', { 'packages': ['corechart'] });

       // ShowDownloadReportLink();
        getClassBatchFaculty();
        getStudentType();

    })

    var getStudentType = function () {
        $.ajax({
            url: "/api/GetStudentType",
            method: "GET",
             data:{
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                debugger;
                if (result != undefined) {
                    var v = "<option value=''>--Select--</option>";
                    for (var i in result) {
                        v += "<option value=" + result[i]['StudentTypeName'] + ">" + result[i]['StudentTypeName'] + "</option>";
                    }
                    $("#searchType").html(v);
                }
            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
    }

    var getClassBatchFaculty = function () {
        $.ajax({
            url: "/api/GetClassBatchFaculty",
            method: "GET",
             data:{
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                var classDetails = result[0];
                var batchDetails = result[1];
                var facultyDetails = result[2];
                var sectionDetails = result[3];
                if (classDetails != undefined) {
                    debugger;
                    var v = "<option value=''>--Select--</option>";
                    for (var i in classDetails) {
                        v += "<option value="+ classDetails[i]['ClassName'] +">" + classDetails[i]['ClassName'] + "</option>";
                    }
                    $(".class").html(v);
                    $("#searchClass").html(v);
                    $("#searchClass").val(classDetails[0]['ClassName']);
                }
                if (batchDetails != undefined) {
                    var v = "<option value=''>--Select--</option>";
                    for (var i in batchDetails) {
                        v += "<option value='" + batchDetails[i]['SessionFrom'] + "-" + batchDetails[i]['SessionTo'] +"'>" + batchDetails[i]['SessionFrom'] + " - " + batchDetails[i]['SessionTo'] + "</option>";
                    }
                    $(".batch").html(v);
                    $("#searchBatch").html(v);
                    $("#searchBatch").val(batchDetails[0]['SessionFrom'] + "-" + batchDetails[0]['SessionTo']);
                }
                if (facultyDetails != undefined) {
                    var v = "<option value=''>--Select--</option>";
                    for (var i in facultyDetails) {
                        v += "<option value=" + facultyDetails[i]['FacultyName'] +">" + facultyDetails[i]['FacultyName'] + "</option>";
                    }
                    $(".faculty").html(v);
                }
                if (sectionDetails != undefined) {
                    var v = "<option value=''>--Select--</option>";
                    for (var i in sectionDetails) {
                        v += "<option value=" + sectionDetails[i]['SectionName'] +">" + sectionDetails[i]['SectionName'] + "</option>";
                    }
                    $(".section").html(v);
                    $("#searchSection").html(v);
                }
                loadData();
            }
        })
    }
    var loadData = function () {
        debugger;
        var batch = $("#searchBatch").val();
        var _class = $("#searchClass").val();
        $.ajax({
            url: "/api/GetStudentDetails",
            method: "GET",
            data: {
                Batch: batch,
                Class: _class,
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (data) {
                    debugger;
                    showResultData(data);
            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        });
    }

    var showResultData = function (data) {
        debugger;

        $("#tblStudentReport").dataTable({
            data: data,
            //'searching': false,
            'destroy': true,
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'pdf',
                    footer: false,
                    exportOptions: {
                        columns: [1,2,3,4,5,6,7,8,9,11,12,14]
                    }
                },
                {
                    extend: 'csv',
                    footer: false,
                    exportOptions: {
                        columns: [1,2,3,4,5,6,7,8,9,10,11,12,13,14]
                    }

                },
                {
                    extend: 'excel',
                    footer: false,
                    exportOptions: {
                        columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
                    }
                }
            ],
            columns: [
                {
                    'title': 'Action',
                    'data': 'Action',
                    'render': function (data, type, row) {
                        return `<div style='display:flex'>
                             @if (actions.Contains("edit"))
                             {
                                <a href='/Home/EditStudentDetails/${row.StudentId}' title='edit'>
                                <i class='fa fa-edit fa-lg'></i></a>
                             } &nbsp;
                            @if (actions.Contains("delete"))
                            {
                                <a href='#' onclick='deleteStudent("${row.StudentId}","${row.FirstName}","${row.LastName}","${row.Class}")' title='delete'>
                                <i class='fa fa-trash fa-lg'></i></a>
                             } &nbsp;
                            @if (actions.Contains("view"))
                            {
                            <a href='/Home/ViewStudentDetails/${row.StudentId}' title='view'>
                            <i class='fa fa-info-circle fa-lg'></i></a> } </div> `;
                    },
                    
                    'sortable': false,
                },
                {
                    'title': 'SN',
                    'data': 'SN',
                    'render': function (data, type, row, meta) {
                        return "<span>" + (meta.row + 1) + "</span>";
                    }
                },

                {
                    'title': 'ID',
                    'data': 'StudentId'
                },
                {
                    'title': 'Name',
                    'render': function (data, type, row, meta) {
                        return row.FirstName + ' ' + row.LastName;
                    }
                },

                {
                    'title':'DOB',
                    'data': 'DateOfBirth_BS'
                },
                {
                    'title':'Gender',
                    'data': 'Gender'
                },
                {
                    'title':'Email',
                    'data': 'EmailId'
                },
                {
                    'title':'Mobile',
                    'data': 'MobileNo'
                },
                {
                    'title':'FatherName',
                    'data': 'FatherName'
                },
                {
                    'title':'FatherNo',
                    'data': 'FatherNumber'
                },
                {
                    'title':'Status',
                    'data': 'Status'
                },
                {
                    'title':'Type',
                    'data': 'StudentType'
                },
                {
                    'title':'Class',
                    'data': 'Class'
                },
                {
                    'title':'Faculty',
                    'data': 'Faculty'
                },
                {
                    'title':'Section',
                    'data': 'Section'
                }
            ]
        });
        debugger;

        $("#titlename").html("List of Student Details");


    }

    var deleteStudent = function (id,firstname,lastname,_class) {
        debugger;


        swal({
            title: "Do you want to delete record of Student Name :" + firstname + " " + lastname + " Class:" + _class + " ?",
            text: "You will not be able to restore the data!",
            icon: "warning",
            buttons: true,
            dangerMode: true
        }).then((willDelete) => {
            if (willDelete) {

                $.ajax({
                    url: "/api/DeleteStudent",
                    method: "Post",
                    data: {
                        StudentId: id,
                        CompanyId:@Session["CompanyId"],
                    },
                    dataType: "json",
                    success: function (result) {
                        debugger;
                        toastr.success("Deleted Successfully");
                        var batch = $("#searchBatch").val();
                        var _class = $("#searchClass").val();
                        var section = $("#searchSection").val();
                        var name = $("#txtnamefield").val();
                        var status = $("#searchStatus").val();
                        var type = $("#searchType").val();
                        $.ajax({
                            url: "/api/SearchStudent",
                            method: "GET",
                            data: { Batch: batch, Class: _class, Section: section, Name: name, Type: type },
                            dataType: "json",
                            success: function (data) {
                                debugger;
                                var result = data.searchResult;
                                // reportPath = data.reportPath;
                                debugger;
                                //if (reportPath) {
                                //    $("#downloadReportLink").attr('href', reportPath);
                                //    $("#downloadReportLink").show();
                                //}

                                debugger;
                                showResultData(result);
                                $("#reportname").show();
                            }
                        })
                    }
                })

            }
        })



        debugger;
    }




    var cancel = function () {
        var value = $("#btnCancel").val();
        if (value == "Back") {
            location.href = document.referrer; return false;
        }
        else {
            debugger;
            $('#modalCancel').modal('show');
            $('#modal-title1').html("Confirm");
            $('#modal-body1').html("Are You Sure You Want to Cancel ?");
        }
        }
        $("#btnCancelModal").on('click', function () {
            debugger;
            $('#modalCancel').modal('hide');
            hideAll();
            $("#StudentDashboard").show();
            $("#divStudentReport").show();
            debugger;
        });

    $("#btnSearch").on('click', function (e) {
        e.preventDefault();
        var batch = $("#searchBatch").val();
        var _class =$("#searchClass").val();
        var section = $("#searchSection").val();
        var name = $("#txtnamefield").val();
        var type = $("#searchType").val();
        debugger;
        if (batch == '' && _class == '' && section == '' && name == '' && type == '') {
           // ShowDownloadReportLink();
            loadData();
            return;
        }

        else {
            $.ajax({
                url: "/api/SearchStudent",
                method: "GET",
                data: {
                    Batch: batch,
                    Class: _class,
                    Section: section,
                    Name: name,
                    Type: type,
                    CompanyId:@Session["CompanyId"],
                },
                dataType: "json",
                success: function (data) {
                    debugger;
                    var result = data.searchResult;
                    // reportPath = data.reportPath;
                    debugger;
                    //if (reportPath) {
                    //    $("#downloadReportLink").attr('href', reportPath);
                    //    $("#downloadReportLink").show();
                    //}

                        debugger;
                        showResultData(result);
                        $("#reportname").show();


                },
                error: function (e) {
                    console.error(e);
                    alert(e.statusText);
                }
            })
        }
    })

</script>


