
@{
    ViewBag.Title = "StudentExtraFeeMapping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <a href="/Home/StudentExtraFeeMappingForm" class="btn btn-success">Add Student Extra Fee </a>
</div><hr/>

<div id="divStudentExtraFeeMapping">
            <h4 id="reportname" style="color:orangered"></h4>
    <div class="flexContainer" style="justify-content:center">
        <div style="text-align:center;">
            <div class="flexContainer">
                <div style="flex:none; text-align:center; min-width:120px">
                    <label class="fieldname">Batch</label>
                    <select id="searchBatch" class="form-control" style="width:auto"></select>
                </div>&nbsp;&nbsp;
                <div style="flex:none; text-align:center; min-width:120px">
                    <label class="fieldname">Faculty</label>
                    <select id="searchFaculty" class="form-control" style="width:auto"></select>
                </div>&nbsp;&nbsp;
                <div style="flex:none; text-align:center; min-width:120px">
                    <label class="fieldname">Class</label>
                    <select id="searchClass" class="form-control" style="width:auto"></select>
                </div>&nbsp;&nbsp;
                <div style="flex:none; text-align:center; min-width:120px">
                    <label class="fieldname">Section</label>
                    <select id="searchSection" class="form-control" style="width:auto"></select>
                </div>&nbsp;&nbsp;
                <div style="flex:none; text-align:center; min-width:120px">
                    <label class="fieldname">Month</label>
                    <select id="searchMonth" class="form-control" style="width:auto">
                        <option value="">---select--</option>
                        <option value="01">Baisakh</option>
                        <option value="02">Jesth</option>
                        <option value="03">Asar</option>
                        <option value="04">Sawan</option>
                        <option value="05">Bhadau</option>
                        <option value="06">Aaswin</option>
                        <option value="07">Kartik</option>
                        <option value="08">Mangsir</option>
                        <option value="09">Push</option>
                        <option value="10">Magh</option>
                        <option value="11">Falgun</option>
                        <option value="12">Chait</option>
                    </select>
                </div>&nbsp;&nbsp;
                <div style="flex:none; text-align:center; min-width:70px">
                    <label>Student Id</label>
                    <input type="text" id="searchStudentId" class="form-control" style="width:auto" />
                </div>&nbsp;&nbsp;
                <div style="flex:none;">
                    <button class="btn btn-warning btn-block" style="margin-top:20px;" id="btnSearch" type="submit" data-name="">Search</button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-12" id="divTable" style="width:100%;overflow:auto">
            <table id="tblStudentExtraFeeReport" class="table table-bordered table-striped" style="width:100%"></table>
        </div>
    </div>
</div>

<div id="modalExtraFeeDetails" class="modal fade" tabindex="-1" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"> &times; </button>
                <h4 class="modal-title">Extra Fee Details</h4>
            </div>
            <div class="modal-body">
                <div class="thumbnail">
                    <form id="" class="well well-sm">
                        <div class="flexContainer">
                            <label style="flex:1.2">Student Id:&nbsp;</label>
                            <span id="showstudentid" style="flex:2"></span>&nbsp;&nbsp;
                            <label style="flex:1.2">Name:&nbsp;</label>
                            <span id="showname" style="flex:2"></span>&nbsp;&nbsp;

                        </div><br />
                        <div class="flexContainer">
                            <label style="flex:1.2">Session:&nbsp;</label>
                            <span id="showsession" style="flex:2"></span>&nbsp;&nbsp;
                            <label style="flex:1.2">Month:&nbsp;</label>
                            <span id="showmonth" style="flex:2"></span>&nbsp;&nbsp;
                        </div><br />
                        <h5>List of Extra Fee Details</h5>
                        <div style="width:100%;overflow:auto;">
                            <table id="tblShowExtraFeeDetails" class="table table-bordered table-striped">
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalEditExtraFeeDetails" class="modal fade" tabindex="-1" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"> &times; </button>
                <h4 class="modal-title">Edit Extra Fee Details</h4>
            </div>
            <div class="modal-body">
                <div class="thumbnail">
                    <form id="editStudentExtraFee" class="well well-sm">
                        <div class="flexContainer">
                            <input type="hidden" name="StudentExtraFeeId" id="studentextrafeeid" />
                            <input type="hidden" name="CompanyId" />
                            <label style="flex:1.2">Student Id:&nbsp;</label>
                            <input type="text" name="ExtraFeeDetails[0][StudentId]" id="editstudentid" class="form-control" style="flex:2" readonly />&nbsp;&nbsp;
                            <label style="flex:1.2">Name:&nbsp;</label>
                            <input type="text" class="form-control" id="editname" style="flex:2" readonly />&nbsp;&nbsp;
                        </div><br />
                        <div class="flexContainer">
                            <label style="flex:1.2">Session:&nbsp;</label>
                            <select id="editbatch" name="Batch" class="form-control" style="flex:2"></select>&nbsp;&nbsp;
                            <label style="flex:1.2">Class:&nbsp;</label>
                            <select id="editclass" class="form-control" style="flex:2" disabled></select>&nbsp;&nbsp;
                        </div><br />
                        <div class="flexContainer">
                            <label style="width:109px;">Month:&nbsp;</label>
                            <input type="text" id="editmonth" name="Month" class="form-control" style="width:209px;" readonly />
                        </div><br />
                        <h5>Select Extra Fee Details</h5>
                        <div style="width:100%;overflow:auto;">
                            <table id="tblExtraFeeDetails" class="table table-bordered table-striped">
                                @*<thead></thead>*@
                            </table>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <button class="btn btn-warning modalclose" id="btnEditStudentExtraFee">Save</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalDelete" class="modal fade" tabindex="-1" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"> &times; </button>
                <h4 class="modal-title">Info</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning modalclose" id="btnDeleteModal">Yes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="modalInfo"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close redirect" data-dismiss="modal"> &times; </button>
                <h4 class="modal-title" id="modal-title">Info</h4>
            </div>
            <div class="modal-body" id="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger redirect" id="close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        getClassBatchFaculty();
        loadData();
    })

    var getClassBatchFaculty = function () {
        $.ajax({
            url: "/api/GetClassBatchFaculty",
            method: "GET",
            data: {
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                var classDetails = result[0];
                var batchDetails = result[1];
                var facultyDetails = result[2];
                var sectionDetails = result[3];
                if (classDetails != undefined) {
                    debugger;
                    var v = "<option value=''>--Select--</option>";
                    for (var i in classDetails) {
                        v += "<option value=" + classDetails[i]['ClassName'] + ">" + classDetails[i]['ClassName'] + "</option>";
                    }
                    $(".class").html(v);
                    $("#searchClass").html(v);
                }
                if (batchDetails != undefined) {
                    var v = "<option value=''>--Select--</option>";
                    for (var i in batchDetails) {
                        v += "<option value='" + batchDetails[i]['FromYear'] + "-" + batchDetails[i]['ToYear'] + "'>" + batchDetails[i]['FromYear'] + " - " + batchDetails[i]['ToYear'] + "</option>";
                    }
                    $(".batch").html(v);
                    $("#searchBatch").html(v);
                }
                if (facultyDetails != undefined) {
                    var v = "<option value=''>--Select--</option>";
                    for (var i in facultyDetails) {
                        v += "<option value=" + facultyDetails[i]['FacultyName'] + ">" + facultyDetails[i]['FacultyName'] + "</option>";
                    }
                    $("#searchFaculty").html(v);
                }
                if (sectionDetails != undefined) {
                    var v = "<option value=''>--Select--</option>";
                    for (var i in sectionDetails) {
                        v += "<option value=" + sectionDetails[i]['SectionName'] + ">" + sectionDetails[i]['SectionName'] + "</option>";
                    }
                    $(".section").html(v);
                    $("#searchSection").html(v);
                }
            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
    }

    var loadData = function () {
        $.ajax({
            url: "/api/GetAllStudentExtraFee",
            method: "GET",
            data: {
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (data) {
                debugger;
                showResultData(data);
            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
    }

    var showResultData = function (data) {
        for (var r in data) {
            data[r].Month = convertMonth(data[r].Month);
        }
        $("#tblStudentExtraFeeReport").dataTable({
            data: data,
            'destroy': true,
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'pdf',
                    footer: false,
                },
                {
                    extend: 'csv',
                    footer: false,

                },
                {
                    extend: 'excel',
                    footer: false,

                }
            ],
            columns: [
                {
                    'title': 'Action',
                    'data': 'Action',
                    'render': function (data, type, row) {
                        return "<div style='display:flex'><a href='#' onclick='updateStudentExtraFee(\"" + row.StudentExtraFeeId + "\",\"" + row.StudentId + "\",\"" + row.FirstName + "\",\"" + row.LastName + "\",\"" + row.Batch + "\",\"" + row.Month + "\",\"" + row.Class + "\") '><img src='/Content/images/edit3.png' style='width:30px;height:30px;'/></a>&nbsp<a href='#' onclick='deletStudentExtraFee(\"" + row.StudentExtraFeeId + "\",\"" + row.Batch + "\", \"" + row.Month + "\",\"" + row.StudentId + "\",\"" + row.FirstName + "\",\"" + row.LastName + "\") '><img src='/Content/images/delete.png' style='width:30px;height:30px;' /></a>&nbsp;<a href='#' onclick='ExtraFeeDetails(\"" + row.StudentExtraFeeId + "\",\"" + row.Batch + "\",\"" + row.Class + "\",\"" + row.Month + "\",\"" + row.FirstName + "\",\"" + row.LastName + "\",\"" + row.StudentId + "\")' title='details'><img src='/Content/images/view.png' style='width:30px;height:30px;'/></a></div>";
                    },
                    'sortable': false,
                },
                {
                    'title': 'SN',
                    'data': 'SN',
                    'render': function (data, type, row, meta) {
                        return "<span>" + (meta.row + 1) + "</span>";
                    }
                },
                {
                    'title': 'StudentId',
                    'data': 'StudentId'
                },
                {
                    'title': 'Name',
                    'render': function (data, type, row, meta) {
                        return row.FirstName + ' ' + row.LastName;
                    }
                },
                {
                    'title': 'Batch',
                    'data': 'Batch'
                },
                {
                    'title': 'Class',
                    'data': 'Class'
                },
                {
                    'title': 'Month',
                    'data': 'Month'
                },
                
            ]
        });
        debugger;
        $("#reportname").html("List of Student Applicable for Extra Fee");
    }

    var ExtraFeeDetails = function (id, batch, _class, month, firstname, lastname, studentid) {
        debugger;
        $.ajax({
            url: "/api/GetExtraFeeById",
            method: "GET",
            data: {
                Id: id,
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                var Name = firstname + " " + lastname;
                $("#modalExtraFeeDetails").modal('show');
                $("#showstudentid").html(studentid);
                $("#showname").html(Name);
                $("#showsession").html(batch);
                $("#showmonth").html(month);
                $("#tblShowExtraFeeDetails").dataTable({
                    data: result,
                    "destroy": true,
                    "paging": false,
                    "ordering": false,
                    "info": false,
                    "searching": false,

                    columns: [

                        {
                            'title': 'SN',
                            'data': 'SN',
                            'render': function (data, type, row, meta) {
                                return "<span>" + (meta.row + 1) + "</span>";
                            }
                        },

                        {
                            'title': 'FeeName',
                            'data': 'FeeName'
                        },
                      
                        {
                            'title': 'Amount',
                            'data': 'Amount'
                        }
                    ]
                });
            },
            error: function (e) {

            }
        })
    }

    var updateStudentExtraFee = function (id, studentid, firstname, lastname, batch, month,_class) {
        debugger;
        var mon = convertMonthInt(month);
        $.ajax({
            url: "/api/GetClassBatchFaculty",
            method: "GET",
            data: {
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                var classDetails = result[0];
                var batchDetails = result[1];
                if (classDetails != undefined) {
                    debugger;
                    var v = "<option value=''>--Select--</option>";
                    for (var i in classDetails) {
                        v += "<option value=" + classDetails[i]['ClassName'] + ">" + classDetails[i]['ClassName'] + "</option>";
                    }
                    $("#editclass").html(v);
                    $("#editclass").val(_class);
                }
                if (batchDetails != undefined) {
                    var v = "<option value=''>--Select--</option>";
                    for (var i in batchDetails) {
                        v += "<option value='" + batchDetails[i]['FromYear'] + "-" + batchDetails[i]['ToYear'] + "'>" + batchDetails[i]['FromYear'] + " - " + batchDetails[i]['ToYear'] + "</option>";
                    }
                    $("#editbatch").html(v);
                    $("#editbatch").val(batch);
                }
            }
        })

        $.ajax({
            url: "/api/GetStudentExtraFee",
            method: "GET",
            data: {
                Id: id,
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                debugger;
                $("#tblExtraFeeDetails").empty();
                var Name = firstname + " " + lastname;
                $("#modalEditExtraFeeDetails").modal('show');
                $("#editname").val(Name);
                $("#editstudentid").val(studentid);
                $("#editmonth").val(month);
                $("#studentextrafeeid").val(id);
                var i = 0;
                    var html = `<table class="bordered-table table-striped">`;
                    html += `<thead><th style='text-align:center;'>&nbsp;</th><th>FeeName</th><th>Amount</th></thead>`;
                    html += ` <tbody class='rowTable'>`;
                for (var r in result) {
                        if (result[r]["IsChecked"] == "True") {
                            html += `<tr>`;
                            html += `<td><input type='checkbox' class='checkextra' name='ExtraFeeDetails[0][StudentExtraDetails][${i}][IsChecked]' value='true' checked />&nbsp;</td>`;
                            html += `<td><input type="text" class='form-control'  name='ExtraFeeDetails[0][StudentExtraDetails][${i}][FeeName]' value="${result[r]['FeeName']}"  readonly/></td>`;
                            html += `<td><input type="text" class='form-control' name='ExtraFeeDetails[0][StudentExtraDetails][${i}][Amount]' value="${result[r]['Amount']}"/></td>`;
                            html += `</tr>`;

                            //$("input[name='Child[Gender]'][value=" + childDetails[d] + "]").prop('checked', true);
                        }
                        else {
                            html += `<tr>`;
                            html += `<td><input type='checkbox' class='checkextra'   name='ExtraFeeDetails[0][StudentExtraDetails][${i}][IsChecked]' value='true' />&nbsp;</td>`;
                            html += `<td><input type="text" class='form-control'  name='ExtraFeeDetails[0][StudentExtraDetails][${i}][FeeName]' value="${result[r]['FeeName']}"  readonly/></td>`;
                            html += `<td><input type="text" class='form-control' name='ExtraFeeDetails[0][StudentExtraDetails][${i}][Amount]' value="${result[r]['Amount']}"/></td>`;
                            html += `</tr>`;
                        }
                        i++;
                    
                }
                    html += `</tbody>`;
                    html += `</table>`;
                    html += `<br/>`;
                    $("#tblExtraFeeDetails").append(html);
            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
    }

    $("#btnEditStudentExtraFee").on('click', function (e) {
        e.preventDefault();
        debugger;
        var fd = $("#editStudentExtraFee").serializeJSON();
        fd.CompanyId=@Session["CompanyId"];
        fd.Month = convertMonthInt(fd.Month);
        debugger;
        $.ajax({
            url: "/api/PostStudentExtraFeeByName",
            method: "POST",
            data: fd,
            dataType: "json",
            success: function (result) {
                debugger;
                $("#modalEditExtraFeeDetails").modal('hide');
                $('#modalInfo').modal('show');
                $('#modalInfo .modal-title').html("Success!");
                $('#modalInfo .modal-body').html("Edited successfully.");
                $(".redirect").on('click', function () {
                    debugger;
                    $('#modalInfo').modal('hide');
                    loadData();
                })
            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
    })

    var deletStudentExtraFee = function (id, batch, month, studentid, firstname, lastname) {
        debugger;
        $("#modalDelete").modal('show');
        $('#modalDelete .modal-title').html("Conform");
        $('#modalDelete .modal-body').html("Do you want to delete Extra Fee details of: <br/> StudentId : <b> " + studentid + "</b> <br/> Name : <b> " + firstname + " " + lastname + " </b><br/> Session: <b> " + batch + "</b><br/>Month: <b> " + month + "</b><br/> ?");

        $('#btnDeleteModal').data('id', id);
    }
    $("#btnDeleteModal").on('click', function (e) {
        e.preventDefault();
        debugger;
        var id = $(this).data('id');
        debugger;
        $.ajax({
            url: "/api/DeleteStudentExtraFeeDetails",
            method: "POST",
            data: {
                Id: id,
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                debugger;
                $('#modalDelete').modal('hide');
                $('#modalInfo').modal('show');
                $('#modalInfo .modal-title').html("Success!");
                $('#modalInfo .modal-body').html("Deleted successfully.");
                $(".redirect").on('click', function () {
                    debugger;
                    $('#modalInfo').modal('hide');
                    loadData();
                })
            },

            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })

    })

    $("#btnSearch").on('click', function (e) {
        e.preventDefault();
        debugger;
        var batch = $("#searchBatch").val();
        var _class = $("#searchClass").val();
        var studentid = $("#searchStudentId").val().trim();
        var faculty = $("#searchFaculty").val();
        var section = $("#searchSection").val();
        var month = $("#searchMonth").val();
        debugger;
        if (batch == '' && _class == '' && studentid == '' && faculty == '' && section == '' && month == '') {
            loadData();
            return;
        }

        else {
            debugger;
            $.ajax({
                url: "/api/SearchStudentExtraFeeDetails",
                method: "GET",
                data: {
                    Batch: batch,
                    Class: _class,
                    StudentId: studentid,
                    Faculty: faculty,
                    Section: section,
                    Month: month,
                    CompanyId:@Session["CompanyId"],
                },
                dataType: "json",
                success: function (data) {
                    debugger;
                    showResultData(data);
                },
                error: function (e) {
                    console.error(e);
                    alert(e.statusText);
                }
            })
        }
    })


    $("#searchFaculty").on('change', function (e) {
        e.preventDefault();
        var faculty = $("#searchFaculty").val();
        if (faculty != '') {
            $.ajax({
                url: "/api/GetClassByFaculty",
                method: "GET",
                data: {
                    Faculty: faculty,
                    CompanyId:@Session["CompanyId"],
                },
                dataType: "json",
                success: function (result) {
                    var v = "<option selected='true' disabled='disabled'>--select--</option>";
                    for (var r in result) {
                        v += "<option value=" + result[r]["ClassName"] + ">" + result[r]["ClassName"] + "</option>";

                    }
                    $("#searchClass").html(v);
                },
                error: function (e) {

                }
            })
        }
        else {
            getClassBatchFaculty();
        }
    })
</script>