
@{
    ViewBag.Title = "StudentTransportMappingForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" id="divStudentTransportInfo">
    <div class="col-md-1"></div>
    <div class="col-md-10 card p-3">
        <h4 class="card-title" id="titleStudentForm">Student Transport Form</h4>
        <hr />
        <form id="formStudentTransport">
            
                <input type="hidden" name="CompanyId"/>
                            
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="input-group mt-2">
                            <div class="input-group-prepend">
                                <label class="input-group-text" style="width:130px;">Select Batch</label>
                            </div>
                            <select class="form-control" name="Batch" id="batch"></select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group mt-2">
                            <div class="input-group-prepend">
                                <label class="input-group-text" style="width:130px;">Select Faculty</label>
                            </div>
                            <select class="form-control" name="Faculty" id="faculty"></select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="input-group mt-2">
                            <div class="input-group-prepend">
                                <label class="input-group-text" style="width:130px;">Select Class</label>
                            </div>
                            <select class="form-control" name="Class" id="class"></select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group mt-2">
                            <div class="input-group-prepend">
                                <label class="input-group-text" style="width:130px;">Select Section</label>
                            </div>
                            <select class="form-control" name="Section" id="section"></select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group mt-2">
                            <div class="input-group-prepend">
                                <label class="input-group-text" style="width:130px;">FirstName</label>
                            </div>
                            <input type="text" class="form-control"  id="firstname" />
                        </div>
                    </div>
                </div><br />
                <div id="tblStudentList" style="width:100%;overflow:auto">

                </div>
        </form>

        <div class="form-group">
            <div class="col-sm-12 text-center">
                <input type="submit" value="Submit" class="btn btn-default" id="btnsubmit" />
                <input type="button" class="btn btn-danger" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    border-radius:20px !important;" id="btnCancel" onclick="cancel()" value="Cancel" />
            </div>
        </div>


    </div>
</div>

<div class="modal fade" tabindex="-1" id="modalInfo"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close redirect" data-dismiss="modal"> &times; </button>
                <h4 class="modal-title" id="modal-title">Info</h4>
            </div>
            <div class="modal-body" id="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger redirect" id="close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="modalCancel"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"> &times; </button>
                <h4 class="modal-title" id="modal-title1">Info</h4>
            </div>
            <div class="modal-body" id="modal-body1">
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning modalclose" id="btnCancelModal" style="width:100px">Yes</button>
                <button type="button" class="btn btn-danger" id="close" data-dismiss="modal" style="width:100px">No</button>

            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        getClassBatchFaculty();
        $("#faculty").attr('disabled', true);
        $("#class").attr('disabled', true);
        $("#section").attr('disabled', true);
        $("#firstname").attr('disabled', true);
    })

    var getClassBatchFaculty = function () {
        $.ajax({
            url: "/api/GetClassBatchFaculty",
            method: "GET",
            data: {
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                var classDetails = result[0];
                var batchDetails = result[1];
                var facultyDetails = result[2];
                var sectionDetails = result[3];
                //if (classDetails != undefined) {
                //    debugger;
                //    var v = "<option selected='true' disabled='disabled'>--select--</option>";
                //    for (var i in classDetails) {
                //        v += "<option value=" + classDetails[i]['ClassName'] + ">" + classDetails[i]['ClassName'] + "</option>";
                //    }
                //    $("#class").html(v);
                //}
                if (batchDetails != undefined) {
                    var v = "<option value=''>--select--</option>";
                    for (var i in batchDetails) {
                        v += "<option value='" + batchDetails[i]['FromYear'] + "-" + batchDetails[i]['ToYear'] + "'>" + batchDetails[i]['FromYear'] + " - " + batchDetails[i]['ToYear'] + "</option>";
                    }

                    $("#batch").html(v);
                }
                if (facultyDetails != undefined) {
                    var v = "<option selected='true' disabled='disabled'>--select--</option>";
                    for (var i in facultyDetails) {
                        v += "<option value=" + facultyDetails[i]['FacultyName'] + ">" + facultyDetails[i]['FacultyName'] + "</option>";
                    }
                    $("#faculty").html(v);
                }
                if (sectionDetails != undefined) {
                    var v = "<option selected='true' disabled='disabled'>--select--</option>";
                    for (var i in sectionDetails) {
                        v += "<option value=" + sectionDetails[i]['SectionName'] + ">" + sectionDetails[i]['SectionName'] + "</option>";
                    }
                    $(".section").html(v);
                    $("#section").html(v);
                }
            }
        })
    }

    $("#batch").on('change', function (e) {
        e.preventDefault();
        debugger;
        $("#faculty").attr('disabled', false);
        $("#firstname").attr('disabled', false);
        $("#class").attr('disabled', true);
        $("#section").attr('disabled', true);
        $("#class").val('');
        $("#section").val('');
        $("#faculty").val('');
        $("#firstname").val('');
        $("#tblStudentList").html("");
        var batch = $("#batch").val();
        if (batch == '') {
            $("#tblStudentList").html("");
            $("#firstname").attr('disabled', true);
        }
        else {
            studentListByBatch();
        }
    })

    $("#faculty").on('change', function (e) {
        e.preventDefault();
        var _this = $(this);
        var faculty = _this.val();
        $("#class").attr('disabled', false);
        $("#section").attr('disabled', true);
        $("#class").val('');
        $("#section").val('');
        $("#tblStudentList").html("");
        $.ajax({
            url: "/api/GetAllStudentListByFaculty",
            method: "GET",
            data: {
                Faculty: faculty,
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                if (result.length != 0) {
                    showResultData(result);
                }

            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
        getClass(faculty);
    })

    var getClass = function (faculty) {
        $.ajax({
            url: "/api/GetClassByFaculty",
            method: "GET",
            data: {
                Faculty: faculty,
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                var v = "<option selected='true' disabled='disabled'>--select--</option>";
                for (var r in result) {
                        v += "<option value=" + result[r]["ClassName"] + ">" + result[r]["ClassName"] + "</option>";
                   
                }
                $("#class").html(v);
            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
    }

    $("#class").on('change', function (e) {
        e.preventDefault();
        var _this = $(this);
        var _class = _this.val();
        var faculty = $("#faculty").val();
        $("#section").attr('disabled', false);
        $("#section").val('');
        $("#tblStudentList").html("");
        $.ajax({
            url: "/api/GetAllStudentListByClass",
            method: "GET",
            data: {
                Faculty: faculty,
                Class: _class,
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                if (result.length != 0) {
                    showResultData(result);
                }

            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })

    })

    $("#section").on('change', function (e) {
        debugger;
        e.preventDefault();
        var _this = $(this);
        var section = _this.val();
        var faculty = $("#faculty").val();
        var _class = $("#class").val();
        $("#tblStudentList").html("");
        $.ajax({
            url: "/api/GetAllStudentListBySection",
            method: "GET",
            data: {
                Faculty: faculty,
                Class: _class,
                Section: section,
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                if (result.length != 0) {
                    showResultData(result);
                }

            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })

    })

    var studentListByBatch = function () {
        debugger;
        $.ajax({
            url: "/api/GetAllStudentList",
            method: "GET",
            data: {
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                debugger;
                if (result.length != 0) {
                    showResultData(result);
                }

            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
    }

    var showResultData = function (result) {
        var studentdetails = result[0];
        var transportdetails = result[1];
        var pickuppoint=result[3];
        debugger;
        var i = 0;
        var html = `<table class="table table-bordered">`;
        html += `<thead style="text-align:center"><tr><th th rowspan="2">&nbsp;</th><th rowspan="2" style="width:110px;">Student Id</th><th rowspan="2" style="width:180px;">Name</th><th rowspan="2" style="width:100px;">Class</th><th colspan="4">List Of Route</th></tr>`;
        html += `<tr><th>From</th><th>To</th><th>Type</th><th>Amount</th></tr></thead>`;
        html += ` <tbody class='rowTable'>`;

        for (var r in studentdetails) {
            html += `<tr>`;
            html += `<td><input type='checkbox' class='checktr' name='StudentTransportDetails[${i}][IsChecked]' value='true' /></td>`;
            html += `<td><input type="text" class='form-control'  name='StudentTransportDetails[${i}][StudentId]' value="${studentdetails[r]['StudentId']}" readonly/></td>`;
            html += `<td><input type="text" class='form-control'  name='' value="${studentdetails[r]['FirstName']} ${studentdetails[r]['LastName']} " readonly/></td>`;
            html += `<td><input type='text' class='form-control Refundable' name='' value="${studentdetails[r]['Class']}" readonly/></td>`;
            html += `<td><input type="text" class='form-control'  name='' value="${pickuppoint[0]['Place']}" readonly/></td>`;
            html += `<td><select class='form-control PlaceTo' name='StudentTransportDetails[${i}][PlaceTo]'>`;
            html += `<option selected='true' disabled='disabled'>--select--</option>`;
            for (var m in transportdetails) {

                html += `<option value="${transportdetails[m]['PlaceTo']}">${transportdetails[m]['PlaceTo']}</option>`;
            }
            html += `</select></td>`;
            html += `<td><select class='form-control Way' name='StudentTransportDetails[${i}][Type]' disabled='disabled'>
                                 <option selected='true' disabled='disabled'>--select--</option>
                                <option value="OneWay">One Way</option>
                                <option value="TwoWay">Two Way</option>
                            </select></td>`;
            html += `<td><input type=text name='StudentTransportDetails[${i}][Amount]' style='width:100px;' placeholder='amount' class='form-control Amount' disabled='disabled'/></td>`

            html += `</tr>`;
            i++;
        }
        html += `</tbody>`;
        html += `</table>`;
        html += `<br/>`;
        $("#tblStudentList").append(html);
    }

   

    $("#tblStudentList").on('change', '.PlaceTo', function () {
        debugger;
        var _this = $(this);
        _this.closest('tr').find('.Way').attr('disabled', false);
        _this.closest('tr').find('.Way').val('');
        _this.closest('tr').find('.Amount').val('');
    })
    $("#tblStudentList").on('change', '.Way', function () {
        debugger;
        var _this = $(this);
        _this.closest('tr').find('.Amount').attr('disabled', false);
        _this.closest('tr').find('.Amount').val('');
        var to = _this.closest('tr').find('.PlaceTo').val();
        var way = _this.closest('tr').find('.Way').val();
        $.ajax({
            url: "/api/GetTransportAmount",
            method: "GET",
            data: {
                To: to,
                Way: way,
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                debugger;
                _this.closest('tr').find('.Amount').val(result[0]["Amount"]);
            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
    })

    $("#btnsubmit").on('click', function (e) {
        debugger;
        e.preventDefault();
        var fd = $("#formStudentTransport").serializeJSON();
        fd.CompanyId=@Session["CompanyId"];
        if (fd.Batch == '') {
            alert("Please select batch");
            return;
        }
        $.ajax({
            url: "/api/PostStudentTransportDetails",
            method: "POST",
            data: fd,
            dataType: "json",
            success: function (result) {
                debugger;
               
                $("form").find("input[type=text],select").val("");
                toastr.success("Added Successfully");
                   
                window.setTimeout(function () {
                    location.href = "/Home/StudentTransportMapping";
                }, 2000);

            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
    })

    var cancel = function () {
        debugger;

        swal({
            title: "Are You sure You want to cancel it ?",
            icon: "warning",
            buttons: true,
            dangerMode: true
        }).then((willDelete) => {
            if (willDelete) {

                location.href = "/Home/StudentTransportMapping";


            }
        });

    };


    $("#firstname").on('input', function (e) {
        debugger;
        var batch = $("#batch").val();
        var _class = $("#class").val();
        var faculty = $("#faculty").val();
        var section = $("#section").val();
        var name = $("#firstname").val().trim();
        debugger;
        $("#tblStudentList").html("");
        $.ajax({
            url: "/api/GetAllStudentListByName",
            method: "GET",
            data: {
                Batch:batch,
                Faculty: faculty,
                Class: _class,
                Section: section,
                Name: name,
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                if (result.length != 0) {
                    showResultData(result);
                }

            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
    })
</script>

