
@{
    ViewBag.Title = "StudentAttendanceForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" id="divStudentAttendanceForm">
    <div class="col-md-1">
    </div>
    <div class="col-md-10 card p-3">
        <h4 class="card-title">Student Attendance Form</h4>
        <form id="formStudentAttendance">
            <div class="form-row">
                <input type="hidden" name="CompanyId" />
                <div class="col-md-6">
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" style="width:130px;">Date</label>
                        </div>
                        <input type="text" name="Date" id="txtdatefield" placeholder="साल-महिना-गते" class="form-control nepali-calendar" />
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" style="width:130px;">Batch</label>
                        </div>
                        <select id="batch" name="Batch" class="form-control"></select>
                    </div>
                </div>
            </div>
            <div class="form-row">
                
                <div class="col-md-6">
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" style="width:130px;">Class</label>
                        </div>
                        <select id="class" class="form-control"></select>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="input-group mt-2">
                        <div class="input-group-prepend">
                            <label class="input-group-text" style="width:130px;">Section</label>
                        </div>
                        <select id="section" class="form-control"></select>
                    </div>
                </div>
            </div>
            <div id="tblStudentList" class="add" style="width:100%;overflow:auto">

            </div>
            <div class="form-group">
                <div class="col-sm-12 text-center">
                    <input type="submit" value="Submit" class="btn btn-default" id="btnsubmit" />
                    <input type="button" class="btn btn-danger" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    border-radius:20px !important;" id="btnCancel" onclick="cancel()" value="Cancel" />
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.nepali-calendar').nepaliDatePicker();
        getClassBatchFaculty();
        $("#class").attr('disabled', true);
        $("#section").attr('disabled', true);
       
    })

    var getClassBatchFaculty = function () {
        $.ajax({
            url: "/api/GetClassBatchFaculty",
            method: "GET",
            data: {
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                var classDetails = result[0];
                var batchDetails = result[1];
                var sectionDetails = result[3];
                if (classDetails != undefined) {
                    debugger;
                    var v = "<option value=''>--Select--</option>";
                    for (var i in classDetails) {
                        v += "<option value=" + classDetails[i]['ClassName'] + ">" + classDetails[i]['ClassName'] + "</option>";
                    }
                    $("#class").html(v);
                }
                if (batchDetails != undefined) {
                    var v = "<option value=''>--Select--</option>";
                    for (var i in batchDetails) {
                        v += "<option value='" + batchDetails[i]['SessionFrom'] + "-" + batchDetails[i]['SessionTo'] + "'>" + batchDetails[i]['SessionFrom'] + " - " + batchDetails[i]['SessionTo'] + "</option>";
                    }
                    $("#batch").html(v);
                }
              
                if (sectionDetails != undefined) {
                    var v = "<option value=''>--Select--</option>";
                    for (var i in sectionDetails) {
                        v += "<option value=" + sectionDetails[i]['SectionName'] + ">" + sectionDetails[i]['SectionName'] + "</option>";
                    }
                    $("#section").html(v);
                }
            }
        })
    }

    $("#txtdatefield").on('click', function (e) {
        e.preventDefault();
        $("#batch").val('');
        $("#class").val('');
        $("#section").val('');
        $("#tblStudentList").html("");
    })
   
    $("#batch").on('change', function (e) {
        e.preventDefault();
        debugger;
        var batch = $("#batch").val();
        var date = $("#txtdatefield").val();
        $("#class").attr('disabled', false);
        $("#section").attr('disabled', true);
        $("#class").val('');
        $("#section").val('');
        $("#tblStudentList").html("");
        studentListByBatch(batch,date);
    })

    $("#class").on('change', function (e) {
        debugger;
        e.preventDefault();
        $("#section").attr('disabled', false);
        $("#section").val('');
        var batch = $("#batch").val();
        var _class = $("#class").val();
        var date = $("#txtdatefield").val();
        $("#tblStudentList").html("");
        studentListByClass(batch, _class,date);
    })
    $("#section").on('change', function (e) {
        debugger;
        e.preventDefault();
        var batch = $("#batch").val();
        var _class = $("#class").val();
        var section = $("#section").val();
        var date = $("#txtdatefield").val();
        $("#tblStudentList").html("");
        studentListBySection(batch, _class,section,date);
    })

    var studentListByBatch = function (batch, date) {
        debugger;
        $.ajax({
            url: "/api/GetStudentListByBatch",
            method: "GET",
            data: {
                Batch: batch,
                Date: date,
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                debugger;
                var i = 0;
                var html= `<table class="table table-bordered">`;
                html += `<thead><th>Student Id</th><th>FirstName</th><th>LastName</th><th>Class</th><th>Section</th><th>Attendance</th></thead>`;
                html += ` <tbody class='rowTable'>`;

                for (var r in result) {
                    html += `<tr>`;
                    html += `<td><input type="text" class='form-control'  name='Attendance[${i}][StudentId]' value="${result[r]['StudentId']}" readonly/></td>`;
                    html += `<td><input type="text" class='form-control'  name='' value="${result[r]['FirstName']}" readonly/></td>`;
                    html += `<td><input type='text' class='form-control Amount' name='' value="${result[r]['LastName']}" readonly /></td>`;
                    html += `<td><input type='text' class='form-control Refundable' name='' value="${result[r]['Class']}" readonly/></td>`;
                    html += `<td><input type='text' class='form-control Refundable' name='' value="${result[r]['Section']}" readonly/></td>`;
                    html += `<td><select class='form-control Refundable' name='Attendance[${i}][Attendance]'>
                                <option value="P" ${result[r]['Attendance']=="P"?"selected":""}>P</option>
                                <option value="A" ${result[r]['Attendance'] == "A" ? "selected" : ""}>A</option>
                            </select></td>`;
                    html += `</tr>`;
                    i++;
                }
                html += `</tbody>`;
                html += `</table>`;
                html += `<br/>`;
                $("#tblStudentList").append(html);

            },
            error: function (e) {

            }
        })
    }

    var studentListByClass = function (batch,_class,date) {
        $.ajax({
            url: "/api/GetStudentListByClass",
            method: "GET",
            data: {
                Batch: batch,
                Class: _class,
                Date: date,
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                debugger;
                var i = 0;
                var html = `<table class="table table-bordered">`;
                html += `<thead><th>Student Id</th><th>FirstName</th><th>LastName</th><th>Class</th><th>Section</th><th>Attendance</th></thead>`;
                html += ` <tbody class='rowTable'>`;

                for (var r in result) {
                    html += `<tr>`;
                    html += `<td><input type="text" class='form-control'  name='Attendance[${i}][StudentId]' value="${result[r]['StudentId']}" readonly/></td>`;
                    html += `<td><input type="text" class='form-control'  name='' value="${result[r]['FirstName']}" readonly/></td>`;
                    html += `<td><input type='text' class='form-control Amount' name='' value="${result[r]['LastName']}" readonly /></td>`;
                    html += `<td><input type='text' class='form-control Refundable' name='' value=" ${result[r]['Class']}" readonly/></td>`;
                    html += `<td><input type='text' class='form-control Refundable' name='' value=" ${result[r]['Section']}" readonly/></td>`;
                    html += `<td><select class='form-control Refundable' name='Attendance[${i}][Attendance]'>
                                <option value="P" ${result[r]['Attendance'] == "P" ? "selected" : ""}>P</option>
                                <option value="A" ${result[r]['Attendance'] == "A" ? "selected" : ""}>A</option>
                            </select></td>`;
                    html += `</tr>`;
                    i++;
                }
                html += `</tbody>`;
                html += `</table>`;
                html += `<br/>`;
                $("#tblStudentList").append(html);

            },
            error: function (e) {

            }
        })
    }

    var studentListBySection = function (batch, _class,section,date) {
        $.ajax({
            url: "/api/GetStudentListBySection",
            method: "GET",
            data: {
                Batch: batch,
                Class: _class,
                Section: section,
                Date: date,
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                debugger;
                var i = 0;
                var html = `<table class="table table-bordered">`;
                html += `<thead><th>Student Id</th><th>FirstName</th><th>LastName</th><th>Class</th><th>Section</th><th>Attendance</th></thead>`;
                html += ` <tbody class='rowTable'>`;

                for (var r in result) {
                    html += `<tr>`;
                    html += `<td><input type="text" class='form-control'  name='Attendance[${i}][StudentId]' value="${result[r]['StudentId']}" readonly/></td>`;
                    html += `<td><input type="text" class='form-control'  name='' value="${result[r]['FirstName']}" readonly/></td>`;
                    html += `<td><input type='text' class='form-control Amount' name='' value="${result[r]['LastName']}" readonly /></td>`;
                    html += `<td><input type='text' class='form-control Refundable' name='' value=" ${result[r]['Class']}" readonly/></td>`;
                    html += `<td><input type='text' class='form-control Refundable' name='' value=" ${result[r]['Section']}" readonly/></td>`;
                    html += `<td><select class='form-control Refundable' name='Attendance[${i}][Attendance]'>
                                <option value="P" ${result[r]['Attendance'] == "P" ? "selected" : ""}>P</option>
                                <option value="A" ${result[r]['Attendance'] == "A" ? "selected" : ""}>A</option>
                            </select></td>`;
                    html += `</tr>`;
                    i++;
                }
                html += `</tbody>`;
                html += `</table>`;
                html += `<br/>`;
                $("#tblStudentList").append(html);

            },
            error: function (e) {

            }
        })
    }

    $("#btnsubmit").on('click', function (e) {
        e.preventDefault();
        var fd = $("form").serializeJSON();
        fd.CompanyId=@Session["CompanyId"];
        if (fd.Batch == '' || fd.Date == '') {
            alert("Please select batch and Date");
            return;
        }
        $.ajax({
            url: "/api/PostStudentAttendance",
            method: "POST",
            data: fd,
            dataType: "json",
            success: function (result) {
                toastr.success("Added Successfully");
                    $("form").find("input[type=text],select").val("");
                    location.href = "/Home/StudentAttendance";
                
            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
        debugger;
    })

    var cancel = function () {
        debugger;
      
        swal({
            title: "Are You sure You want to cancel it ?",
            icon: "warning",
            buttons: true,
            dangerMode: true
        }).then((willCancel) => {
            if (willCancel) {

                location.href = "/Home/StudentAttendance";


            }
        })
        
    }

  
</script>

