
@{
    ViewBag.Title = "StudentExtraFeeMapping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    List<string> actions = ViewBag.FeatureActions as List<string>;
}
<div id="ExtraFeeDashboard">
    @if (actions.Contains("add"))
    {
    <a href="/Home/StudentExtraFeeMappingForm" class="btn btn-default pull-right"> + Add Student Extra Fee</a>
    }
    @if (actions.Contains("report"))
    {
    <div id="divStudentExtraFeeMapping">
        <h4 class="clearfix" id="reportname" style="color:orangered"></h4>
        <div class="card p-3">
            <div class="row" style="margin-bottom:10px;">
                <div class="col-sm-2">

                    <label style="width:60px;margin-left:60px;">Batch</label>

                    <select id="searchBatch" class="form-control"></select>


                </div>
                <div class="col-sm-2">

                    <label style="width:100px;margin-left:40px;">Faculty</label>

                    <select id="searchFaculty" class="form-control"></select>


                </div>
                <div class="col-sm-2">

                    <label style="width:80px;margin-left:40px;">Class</label>

                    <select id="searchClass" class="form-control"></select>


                </div>
                <div class="col-sm-2">

                    <label style="width:80px;margin-left:40px;">Section</label>

                    <select id="searchSection" class="form-control"></select>


                </div>
                <div class="col-sm-2">


                    <label style="width:60px;margin-left:40px;">Month</label>

                    <select id="searchMonth" class="form-control">
                        <option value="">--Select---</option>
                        <option value="01">Baisakh</option>
                        <option value="02">Jesth</option>
                        <option value="03">Asar</option>
                        <option value="04">Sawan</option>
                        <option value="05">Bhadau</option>
                        <option value="06">Aaswin</option>
                        <option value="07">Kartik</option>
                        <option value="08">Mangsir</option>
                        <option value="09">Push</option>
                        <option value="10">Magh</option>
                        <option value="11">Falgun</option>
                        <option value="12">Chait</option>
                    </select>


                </div>
                <div class="col-sm-2">

                    <label style="width:80px;margin-left:40px;">Student Id</label>

                    <input type="text" id="searchStudentId" class="form-control" />


                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-default btn-block pull-right" id="btnSearch" type="submit" data-name="">Search</button>
                </div>
            </div>
            <br />

            <div class="row">
                <div class="col-sm-12">
                    <div style="width:100%;overflow:auto;">
                        <table id="tblStudentExtraFeeReport" class="table table-bordered table-striped"></table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    }
</div>
<div id="modalEditExtraFeeDetails" class="modal fade company-user-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Extra Fee Details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editStudentExtraFee">
                    <div class="form-row">
                        <div class="col-md-6">
                            <input type="hidden" name="StudentExtraFeeId" id="studentextrafeeid" />
                            <input type="hidden" name="CompanyId" />
                            <div class="input-group mt-2">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:130px;">Student Id</label>
                                </div>
                                <input class="form-control" type="text" name="ExtraFeeDetails[0][StudentId]" id="editstudentid" readonly />
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="input-group mt-2">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:130px;">Name</label>
                                </div>
                                <input class="form-control" type="text" id="editname" readonly />
                            </div>

                        </div>


                        <div class="col-md-6">
                            <div class="input-group mt-2">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:130px;">Session</label>
                                </div>
                                <select id="editbatch" name="Batch" class="form-control"></select>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="input-group mt-2">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:130px;">Class</label>
                                </div>
                                <select id="editclass" class="form-control" disabled></select>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="input-group mt-2">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:130px;">Month</label>
                                </div>
                                <input type="text" id="editmonth" name="Month" class="form-control" readonly />
                            </div>

                        </div>
                    </div><br />

                    <h5>Select Extra Fee Details</h5>
                    <div class="row" id="tblExtraFeeDetails" style="width:100%;overflow:auto">

                    </div>

                    <br />
                    <div class="d-flex mt-3" style="justify-content:center">
                        <input type="submit" class="btn btn-default w-25" id="btnEditStudentExtraFee" value="Update" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modalExtraFeeDetails" class="modal fade company-user-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Extra Fee Details</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="input-group mt-2">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:130px;">Student Id</label>
                                </div>
                                <input class="form-control" type="text" id="showstudentid" readonly />
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="input-group mt-2">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:130px;">Name</label>
                                </div>
                                <input class="form-control" type="text" id="showname" readonly />
                            </div>

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="input-group mt-2">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:130px;">Session</label>
                                </div>
                                <input class="form-control" type="text" id="showsession" readonly />
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="input-group mt-2">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:130px;">Month</label>
                                </div>
                                <input class="form-control" type="text" id="showmonth" readonly />
                            </div>

                        </div>
                    </div><br />
                    <h5>List of Extra Fee Details</h5>
                    <div>
                        <table id="tblShowExtraFeeDetails" class="table table-bordered" style="width:100%;overflow:auto"></table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modalDelete" class="modal fade" tabindex="-1" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"> &times; </button>
                <h4 class="modal-title">Info</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning modalclose" id="btnDeleteModal">Yes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" id="modalInfo"
     data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close redirect" data-dismiss="modal"> &times; </button>
                <h4 class="modal-title" id="modal-title">Info</h4>
            </div>
            <div class="modal-body" id="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger redirect" id="close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        getClassBatchFaculty();
        loadData();
    })

    var getClassBatchFaculty = function () {
        $.ajax({
            url: "/api/GetClassBatchFaculty",
            method: "GET",
            data: {
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                var classDetails = result[0];
                var batchDetails = result[1];
                var facultyDetails = result[2];
                var sectionDetails = result[3];
                if (classDetails != undefined) {
                    debugger;
                    var v = "<option value=''>--Select--</option>";
                    for (var i in classDetails) {
                        v += "<option value=" + classDetails[i]['ClassName'] + ">" + classDetails[i]['ClassName'] + "</option>";
                    }
                    $(".class").html(v);
                    $("#searchClass").html(v);
                }
                if (batchDetails != undefined) {
                    var v = "<option value=''>--Select--</option>";
                    for (var i in batchDetails) {
                        v += "<option value='" + batchDetails[i]['SessionFrom'] + "-" + batchDetails[i]['SessionTo'] + "'>" + batchDetails[i]['SessionFrom'] + " - " + batchDetails[i]['SessionTo'] + "</option>";
                    }
                    $(".batch").html(v);
                    $("#searchBatch").html(v);
                }
                if (facultyDetails != undefined) {
                    var v = "<option value=''>--Select--</option>";
                    for (var i in facultyDetails) {
                        v += "<option value=" + facultyDetails[i]['FacultyName'] + ">" + facultyDetails[i]['FacultyName'] + "</option>";
                    }
                    $("#searchFaculty").html(v);
                }
                if (sectionDetails != undefined) {
                    var v = "<option value=''>--Select--</option>";
                    for (var i in sectionDetails) {
                        v += "<option value=" + sectionDetails[i]['SectionName'] + ">" + sectionDetails[i]['SectionName'] + "</option>";
                    }
                    $(".section").html(v);
                    $("#searchSection").html(v);
                }
            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
    }

    var loadData = function () {
        $.ajax({
            url: "/api/GetAllStudentExtraFee",
            method: "GET",
            data: {
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (data) {
                debugger;
                showResultData(data);
            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
    }

    var showResultData = function (data) {
        for (var r in data) {
            data[r].Month = convertMonth(data[r].Month);
        }
        $("#tblStudentExtraFeeReport").dataTable({
            data: data,
            'destroy': true,
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'pdf',
                    footer: false,
                },
                {
                    extend: 'csv',
                    footer: false,

                },
                {
                    extend: 'excel',
                    footer: false,

                }
            ],
            columns: [
                {
                    'title': 'Action',
                    'data': 'Action',
                    'render': function (data, type, row) {
                        return `<div style='display:flex'>
                            @if (actions.Contains("edit"))
                            {
                            <a href='#' onclick='updateStudentExtraFee("${row.StudentExtraFeeId}","${row.StudentId}","${row.FirstName}","${row.LastName}","${row.Batch}","${row.Month}","${row.Class}") '><img src='/Content/images/edit3.png' style='width:30px;height:30px;'/>
                            </a> }  &nbsp
                        @if (actions.Contains("delete"))
                        {
                        <a href='#' onclick='deletStudentExtraFee("${row.StudentExtraFeeId}","${row.Batch}","${row.Month}","${row.StudentId}","${row.FirstName}","${row.LastName}") '><img src='/Content/images/delete.png' style='width:30px;height:30px;' />

                        </a> }  &nbsp;
                        @if(actions.Contains("view"))
                        { 
                        <a href='#' onclick='ExtraFeeDetails("${row.StudentExtraFeeId}","${row.Batch}","${row.Class}","${row.Month}","${row.FirstName}","${row.LastName}","${row.StudentId}")' title='details'>
                        <img src='/Content/images/view.png' style='width:30px;height:30px;'/>
                        </a> } </div>`;
                    },
                    'sortable': false,
                },
                {
                    'title': 'SN',
                    'data': 'SN',
                    'render': function (data, type, row, meta) {
                        return "<span>" + (meta.row + 1) + "</span>";
                    }
                },
                {
                    'title': 'StudentId',
                    'data': 'StudentId'
                },
                {
                    'title': 'Name',
                    'render': function (data, type, row, meta) {
                        return row.FirstName + ' ' + row.LastName;
                    }
                },
                {
                    'title': 'Batch',
                    'data': 'Batch'
                },
                {
                    'title': 'Class',
                    'data': 'Class'
                },
                {
                    'title': 'Month',
                    'data': 'Month'
                },

            ]
        });
        debugger;
        $("#reportname").html("List of Student Applicable for Extra Fee");
    }

    var ExtraFeeDetails = function (id, batch, _class, month, firstname, lastname, studentid) {
        debugger;
        $.ajax({
            url: "/api/GetExtraFeeById",
            method: "GET",
            data: {
                Id: id,
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                var Name = firstname + " " + lastname;
                $("#modalExtraFeeDetails").modal('show');
                $("#showstudentid").val(studentid);
                $("#showname").val(Name);
                $("#showsession").val(batch);
                $("#showmonth").val(month);
                $("#tblShowExtraFeeDetails").dataTable({
                    data: result,
                    "destroy": true,
                    "paging": false,
                    "ordering": false,
                    "info": false,
                    "searching": false,

                    columns: [

                        {
                            'title': 'SN',
                            'data': 'SN',
                            'render': function (data, type, row, meta) {
                                return "<span>" + (meta.row + 1) + "</span>";
                            }
                        },

                        {
                            'title': 'FeeName',
                            'data': 'FeeName'
                        },

                        {
                            'title': 'Amount',
                            'data': 'Amount'
                        }
                    ]
                });
            },
            error: function (e) {

            }
        })
    }

    var updateStudentExtraFee = function (id, studentid, firstname, lastname, batch, month,_class) {
        debugger;
        var mon = convertMonthInt(month);
        $.ajax({
            url: "/api/GetClassBatchFaculty",
            method: "GET",
            data: {
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                var classDetails = result[0];
                var batchDetails = result[1];
                if (classDetails != undefined) {
                    debugger;
                    var v = "<option value=''>--Select--</option>";
                    for (var i in classDetails) {
                        v += "<option value=" + classDetails[i]['ClassName'] + ">" + classDetails[i]['ClassName'] + "</option>";
                    }
                    $("#editclass").html(v);
                    $("#editclass").val(_class);
                }
                if (batchDetails != undefined) {
                    var v = "<option value=''>--Select--</option>";
                    for (var i in batchDetails) {
                        v += "<option value='" + batchDetails[i]['SessionFrom'] + "-" + batchDetails[i]['SessionTo'] + "'>" + batchDetails[i]['SessionFrom'] + " - " + batchDetails[i]['SessionTo'] + "</option>";
                    }
                    $("#editbatch").html(v);
                    $("#editbatch").val(batch);
                }
            }
        })

        $.ajax({
            url: "/api/GetStudentExtraFee",
            method: "GET",
            data: {
                Id: id,
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                debugger;
                $("#tblExtraFeeDetails").empty();
                var Name = firstname + " " + lastname;
                $("#modalEditExtraFeeDetails").modal('show');
                $("#editname").val(Name);
                $("#editstudentid").val(studentid);
                $("#editmonth").val(month);
                $("#studentextrafeeid").val(id);
                var i = 0;
                    var html = `<table class="table table-bordered">`;
                    html += `<thead><th style='text-align:center;'>&nbsp;</th><th>FeeName</th><th>Amount</th></thead>`;
                    html += ` <tbody class='rowTable'>`;
                for (var r in result) {
                        if (result[r]["IsChecked"] == "True") {
                            html += `<tr>`;
                            html += `<td><input type='checkbox' class='checkextra' name='ExtraFeeDetails[0][StudentExtraDetails][${i}][IsChecked]' value='true' checked />&nbsp;</td>`;
                            html += `<td><input type="text" class='form-control'  name='ExtraFeeDetails[0][StudentExtraDetails][${i}][FeeName]' value="${result[r]['FeeName']}"  readonly/></td>`;
                            html += `<td><input type="text" class='form-control' name='ExtraFeeDetails[0][StudentExtraDetails][${i}][Amount]' value="${result[r]['Amount']}"/></td>`;
                            html += `</tr>`;

                            //$("input[name='Child[Gender]'][value=" + childDetails[d] + "]").prop('checked', true);
                        }
                        else {
                            html += `<tr>`;
                            html += `<td><input type='checkbox' class='checkextra'   name='ExtraFeeDetails[0][StudentExtraDetails][${i}][IsChecked]' value='true' />&nbsp;</td>`;
                            html += `<td><input type="text" class='form-control'  name='ExtraFeeDetails[0][StudentExtraDetails][${i}][FeeName]' value="${result[r]['FeeName']}"  readonly/></td>`;
                            html += `<td><input type="text" class='form-control' name='ExtraFeeDetails[0][StudentExtraDetails][${i}][Amount]' value="${result[r]['Amount']}"/></td>`;
                            html += `</tr>`;
                        }
                        i++;

                }
                    html += `</tbody>`;
                    html += `</table>`;
                    html += `<br/>`;
                    $("#tblExtraFeeDetails").append(html);
            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
    }

    $("#btnEditStudentExtraFee").on('click', function (e) {
        e.preventDefault();
        debugger;
        var fd = $("#editStudentExtraFee").serializeJSON();
        fd.CompanyId=@Session["CompanyId"];
        fd.Month = convertMonthInt(fd.Month);
        debugger;
        $.ajax({
            url: "/api/PostStudentExtraFeeByName",
            method: "POST",
            data: fd,
            dataType: "json",
            success: function (result) {
                debugger;
                $("#modalEditExtraFeeDetails").modal('hide');
                toastr.success("Updated Successfully");
                loadData();
            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
    })

    var deletStudentExtraFee = function (id, batch, month, studentid, firstname, lastname) {
        debugger;

               swal({
                   title: "Do you want to delete Extra Fee details of:  StudentId : " + studentid + " Name :  " + firstname + " " + lastname + "  Session:  " + batch + " Month:  " + month + " ?" ,
            text: "You will not be able to restore the data!",
            icon: "warning",
            buttons: true,
            dangerMode: true
        }).then((willDelete) => {
            if (willDelete) {

                 $.ajax({
            url: "/api/DeleteStudentExtraFeeDetails",
            method: "POST",
            data: {
                Id: id,
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                debugger;
                toastr.success("Deleted Successfully");
                    loadData();

            },

            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
                    }
                })
    }



    $("#btnSearch").on('click', function (e) {
        e.preventDefault();
        debugger;
        var batch = $("#searchBatch").val();
        var _class = $("#searchClass").val();
        var studentid = $("#searchStudentId").val().trim();
        var faculty = $("#searchFaculty").val();
        var section = $("#searchSection").val();
        var month = $("#searchMonth").val();
        debugger;
        if (batch == '' && _class == '' && studentid == '' && faculty == '' && section == '' && month == '') {
            loadData();
            return;
        }

        else {
            debugger;
            $.ajax({
                url: "/api/SearchStudentExtraFeeDetails",
                method: "GET",
                data: {
                    Batch: batch,
                    Class: _class,
                    StudentId: studentid,
                    Faculty: faculty,
                    Section: section,
                    Month: month,
                    CompanyId:@Session["CompanyId"],
                },
                dataType: "json",
                success: function (data) {
                    debugger;
                    showResultData(data);
                },
                error: function (e) {
                    console.error(e);
                    alert(e.statusText);
                }
            })
        }
    })


    $("#searchFaculty").on('change', function (e) {
        e.preventDefault();
        var faculty = $("#searchFaculty").val();
        if (faculty != '') {
            $.ajax({
                url: "/api/GetClassByFaculty",
                method: "GET",
                data: {
                    Faculty: faculty,
                    CompanyId:@Session["CompanyId"],
                },
                dataType: "json",
                success: function (result) {
                    var v = "<option selected='true' disabled='disabled'>--select--</option>";
                    for (var r in result) {
                        v += "<option value=" + result[r]["ClassName"] + ">" + result[r]["ClassName"] + "</option>";

                    }
                    $("#searchClass").html(v);
                },
                error: function (e) {

                }
            })
        }
        else {
            getClassBatchFaculty();
        }
    })
</script>