
@{
    ViewBag.Title = "TransportationManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    List<string> actions = ViewBag.FeatureActions as List<string>;
}
<div class="btn-group" data-toggle="buttons">
    <label class="btn btn-default active">
        <input type="radio" name="Tab" data-value="StartPoint" data-text="Start Place details" autocomplete="off" checked>Start Place
    </label>
    <label class="btn btn-default">
        <input type="radio" name="Tab" data-value="TransportationDetails" data-text="Transportation details" autocomplete="off" />Transportation
    </label>
</div>
<br /><br />
@if (actions.Contains("report"))
{
<div id="divstartpoint">
    <div class="row">
        <div class="col-sm-3">
            <h4 id="batchname"></h4>
        </div>
    </div>
    <div class="card p-3">
        <h4 id="titlestartpoint" style="color:orangered"></h4>
        <div style="width:100%;overflow:auto; max-height:80vh">
            <table id="tblStartPoint" class="table table-bordered">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
}
@if (actions.Contains("add"))
{
<div class="row" id="divStartPlaceDetails">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card p-3">
            <div class="class-body">
                <h4 class="card-title">Add Start Place</h4><hr />
                <form id="formStartPoint" class="form-row">

                    <input type="hidden" name="CompanyId" id="companyid" value="" />
                    <input type="hidden" name="PlaceId" />
                    <div class="col-md-12">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <label class="input-group-text">Start Place</label>
                            </div>
                            <input type="text" name="Place" class="form-control" />
                            <button class="btn btn-primary" id="btnSaveStartPoint" type="submit" style="margin-left:10px;" data-name="">Add</button>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>
}
<div id="divTransportationDetails">
    <br />
    <div class="col-md-10 offset-1">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add Transportation Fee</h4><hr />
                @if(actions.Contains("add"))
                { 
                <form id="formtransportation">
                    <div class="form-row mb-2">
                        <div class="col-md-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:110px;">Place</label>
                                    <input type="hidden" name="TransportationId" />
                                    <input type="hidden" name="CompanyId" />
                                </div>
                                <input type="text" id="placefrom" class="form-control" placeholder="start" readonly /> <label style="margin-top:5px;"><-></label>
                                <input type="text" name="PlaceTo" class="form-control" placeholder="destination" />
                            </div>
                        </div>
                    </div>
                    <div class="form-row mb-2">
                        <div class="col-md-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:110px;">Distance(In Km)</label>

                                </div>
                                <input type="text" name="DistanceFrom" class="form-control" placeholder="From(In km)" /> <label style="margin-top:5px;"><-></label>
                                <input type="text" name="DistanceTo" class="form-control" placeholder="To(In km)" />
                            </div>
                        </div>
                    </div>
                    <div class="form-row mb-2">
                        <div class="col-md-12">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:110px;">Amount</label>

                                </div>
                                <input type="text" name="OneWayAmount" class="form-control" placeholder="One Way" onkeyup="return isNumberKey(event)" /> <label style="margin-top:5px;"><-></label>
                                <input type="text" name="TwoWayAmount" class="form-control" placeholder="Two Way" onkeyup="return isNumberKey(event)" />
                            </div>
                        </div>
                    </div>
                    <div class="form-row mb-2">
                        <div class="col-md-6">

                        </div>
                        <div class="col-md-6">

                            <button class="btn btn-primary pull-right" id="btnSaveTransportationDetails" type="submit" style="margin-left:10px;" data-name="">Add</button>

                        </div>
                    </div>
                </form>
                }
                <hr />
                @if (actions.Contains("report"))
                {
                <div class="form-row">
                    <h5 id="titlename">List of all Fine</h5>
                    <table id="tblTransportationDetails" class="table table-bordered">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                </div>
                }
            </div>
        </div>
    </div>
</div>

<div id="modalEditTransport" class="modal fade addModule-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Transport Fee</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form id="formModalTransportDetails" style="text-align:left">
                    <div class="row" style="margin-left:10px;">
                        <div class="col-md-12">
                            <input type="hidden" name="TransportationId" />
                            <input type="hidden" name="CompanyId" value="" />
                            <div class="input-group mt-2">

                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:110px;">Place</label>
                                </div>

                                <input type="text" name="PlaceFrom" class="form-control" placeholder="start" /> <label style="margin-top:5px;"><-></label>
                                <input type="text" name="PlaceTo" class="form-control" placeholder="destination" />
                            </div>
                            <div class="input-group mt-2">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:110px;">Distance(In Km)</label>

                                </div>
                                <input type="text" name="DistanceFrom" class="form-control" placeholder="From(In km)" /> <label style="margin-top:5px;"><-></label>
                                <input type="text" name="DistanceTo" class="form-control" placeholder="To(In km)" />
                            </div>


                            <div class="input-group mt-2">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:110px;">Amount</label>

                                </div>
                                <input type="text" name="OneWayAmount" class="form-control" placeholder="One Way" onkeyup="return isNumberKey(event)" /> <label style="margin-top:5px;"><-></label>
                                <input type="text" name="TwoWayAmount" class="form-control" placeholder="Two Way" onkeyup="return isNumberKey(event)" />
                            </div>

                        </div>
                    </div>
                    <div class="d-flex mt-3" style="justify-content:center">
                        <input type="submit" class="btn btn-default w-25" id="btnEditModalTransport" value="Update" />
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<div id="modalDelete" class="modal fade" tabindex="-1" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"> &times; </button>
                <h4 class="modal-title">Info</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning modalclose" id="btnDeleteModal">Yes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<div id="modalEditStartPoint" class="modal fade addModule-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Start Point</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" title="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form id="formModalStartPoint" style="text-align:left">
                    <div class="row" style="margin-left:10px;">
                        <div class="col-md-12">
                            <div class="input-group mt-2">
                                <input type="hidden" name="PlaceId" />
                                <input type="hidden" name="CompanyId" value="" />
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width:110px;">Start Place</label>
                                </div>
                                <input type="text" class="form-control" name="Place" />
                            </div>

                        </div>
                    </div>
                    <div class="d-flex mt-3" style="justify-content:center">
                        <input type="submit" class="btn btn-default w-25" id="btnModalSaveStartPoint" value="Update" />
                    </div>



                </form>

            </div>

        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        debugger;
        var listType = $("input[name='Tab']:checked").data('value');
        debugger;
        hideAll();
        loadData(listType);
    })
    $("input[name ='Tab']").on('change', function () {
        debugger;
        var listType = $("input[name='Tab']:checked").data('value');
        var titlename = $("input[name='Tab']:checked").data('text');
        debugger;
        hideAll();
        loadData(listType);
    })

    $("#btnSaveStartPoint").on('click', function (e) {
        e.preventDefault();
        var fd = $("#formStartPoint").serializeJSON();
        fd.CompanyId=@Session["CompanyId"];
        if (fd.Place == '') return;
        $.ajax({
            url: "/api/PostStartPoint",
            method: "POST",
            data: fd,
            dataType: "json",
            success: function (result) {
                $("#formStartPoint").find("input[type=text],input[type=hidden]").val("");
                loadData("StartPoint");
            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
    })

    $("#btnModalSaveStartPoint").on('click', function (e) {
        e.preventDefault();
        var fd = $("#formModalStartPoint").serializeJSON();
        fd.CompanyId=@Session["CompanyId"];
        if (fd.Place == '') return;
        $.ajax({
            url: "/api/PostStartPoint",
            method: "POST",
            data: fd,
            dataType: "json",
            success: function (result) {
                $("#modalEditStartPoint").modal('hide');
                toastr.success("Updated Successfully");
                loadData("StartPoint");
            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
    })

    $("#btnSaveTransportationDetails").on('click', function (e) {
        e.preventDefault();
        $("#oneway").attr('disabled', false);
        $("#twoway").attr('disabled', false);
        var fd = $("#formtransportation").serializeJSON();
        fd.CompanyId=@Session["CompanyId"];
        if (fd.PlaceTo == '' || fd.DistanceFrom == '' || fd.DistanceTo == '' || fd.OneWayAmount == '' || fd.TwoWayAmount == '') return;

        $.ajax({
            url: "/api/PostTransportDetails",
            method: "POST",
            data: fd,
            dataType: "json",
            success: function (result) {
                debugger;
               $("#formtransportation").find("input[type=text],input[type=hidden],input[type=radio]").val("");
                toastr.success("Added Successfully");
                loadData("TransportationDetails");
            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
    })

    $("#btnEditModalTransport").on('click', function (e) {
        debugger;
        e.preventDefault();
        var fd = $("#formModalTransportDetails").serializeJSON();
        fd.CompanyId=@Session["CompanyId"];
        if (fd.DistanceFrom == '' || fd.DistanceTo == '' || fd.OneWayAmount == '' || fd.TwoWayAmount == '') return;

        $.ajax({
            url: "/api/PostTransportDetails",
            method: "POST",
            data: fd,
            dataType: "json",
            success: function (result) {
                debugger;
                $("#modalEditTransport").modal('hide');
                $("#formModalTransportDetails").find("input[type=text],input[type=hidden],input[type=radio]").val("");
                toastr.success("Updated Successfully");
                loadData("TransportationDetails");
            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
    })

    var loadData = function (urlName) {
        debugger;
        $.ajax({
            url: "/api/GetAllTransportInfo",
            method: "Get",
            data: {
                urlName: urlName.toLowerCase(),
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                debugger;
                if (result == 0 && urlName == "StartPoint") {
                    hideAll();
                    $("#divStartPlaceDetails").show();
                }
                else if (urlName == "StartPoint") {
                    hideAll();
                    $("#divstartpoint").show();
                    showStartPoint(result);
                }
                else if (urlName == "TransportationDetails") {
                    hideAll();
                    $("#divTransportationDetails").show();
                    $.ajax({
                        url: "/api/GetAllTransportInfo",
                        method: "Get",
                        data: {
                            urlName: "startpoint",
                            CompanyId:@Session["CompanyId"],
                        },
                        dataType: "json",
                        success: function (result) {
                            if (result != 0) {
                                $("#placefrom").val(result[0]["Place"]);
                            }
                            else {
                                $("#placefrom").val('');
                            }
                        },
                        error: function (e) {

                        }
                    })
                    showResultData(result);
                }

            },
            error: function (e) {
                debugger;
                console.error(e);
                alert(e.statusText);
            }
        })
    }

    var showStartPoint = function (result) {
        debugger;
        $("#tblStartPoint").dataTable({
            data: result,
            'destroy': true,
            "paging": false,
            "ordering": false,
            "info": false,
            "searching":false,
            columns: [
                {
                    'title': 'SN',
                    'data': 'SN',
                    'render': function (data, type, row, meta) {
                        return "<span>" + (meta.row + 1) + "</span>";
                    }
                },

                {
                    'title': 'StartPoint',
                    'data': 'Place'
                },
                {
                    'title': 'Action',
                    'data': 'Action',

                    'render': function (data, type, row) {
                        return `<div style='display:flex'>
                                 @if (actions.Contains("edit"))
                                 {
                                <a href='#' class='btn btn-info' onclick='editStartPoint("${row.PlaceId}","${row.Place}")'>Edit
                                </a> } </div>`;
                    }
                },

            ]
        });
        debugger;
        $("#titlestartpoint").html("Bus Start Point");
    }

    var showResultData = function (result) {
        debugger;


        $("#tblTransportationDetails").dataTable({
            data: result,
            'destroy': true,

            columns: [

                {
                    'title': 'Action',
                    'data': 'Action',

                    'render': function (data, type, row) {
                        return `<div style='display:flex'>
                        @if (actions.Contains("edit"))
                        {
                        <a href='#' class='btn btn-info' onclick='editTransportDetails("${row.TransportationId}","${row.PlaceTo}","${row.DistanceFrom}","${row.DistanceTo}","${row.OneWayAmount}","${row.TwoWayAmount}")'>Edit
                        </a> }  &nbsp;
                        @if (actions.Contains("delete"))
                        {
                        <a href='#' class='btn btn-info' onclick='deleteTransportDetails("${row.TransportationId}","${row.PlaceTo}","${row.DistanceFrom}","${row.DistanceTo}","${row.OneWayAmount}","${row.TwoWayAmount}")'>Delete
                        </a> } </div>`;
                    }
                },
                {
                    'title': 'SN',
                    'data': 'SN',
                    'render': function (data, type, row, meta) {
                        return "<span>" + (meta.row + 1) + "</span>";
                    }
                },

                {
                    'title': 'PlaceTo',
                    'data': 'PlaceTo'
                },
                {
                    'title': 'DistanceFrom',
                    'data': 'DistanceFrom'
                },
                {
                    'title': 'DistanceTo',
                    'data': 'DistanceTo'
                },
                {
                    'title': 'Amount(oneway)',
                    'data': 'OneWayAmount'
                },
                {
                    'title': 'Amount(twoway)',
                    'data': 'TwoWayAmount'
                },

            ]
        });
        debugger;
        $("#titlename").html("List of Transport Details");
    }

    function editTransportDetails(id,placeto, distancefrom, distanceto, oneway, twoway) {
        debugger;
        $("#modalEditTransport").modal('show');
        $("#modalEditTransport [name='TransportationId']").val(id);
        $("#modalEditTransport [name='PlaceTo']").val(placeto);
        $("#modalEditTransport [name='DistanceFrom']").val(distancefrom);
        $("#modalEditTransport [name='DistanceTo']").val(distanceto);
        $("#modalEditTransport [name='OneWayAmount']").val(oneway);
        $("#modalEditTransport [name='TwoWayAmount']").val(twoway);
        $.ajax({
            url: "/api/GetStartingPoint",
            method: "GET",
            data: {
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
            success: function (result) {
                $("#modalEditTransport [name='PlaceFrom']").val(result[0]["Place"]);
            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })
    }

    function editStartPoint(id, place) {
        $("#modalEditStartPoint").modal('show');
        $("#modalEditStartPoint [name='PlaceId']").val(id);
        $("#modalEditStartPoint [name='Place']").val(place);
    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }

    var deleteTransportDetails = function (id,placeto, distancefrom, distanceto, oneway, twoway) {
        debugger;


           swal({
               title: "Do You want to delete Transport details of: Place To: " + placeto + " One Way Amount: " + oneway + " Two Way Amount: " + twoway + "  ?",
            text: "You will not be able to restore the data!",
            icon: "warning",
            buttons: true,
            dangerMode: true
        }).then((willDelete) => {
            if (willDelete) {
         $.ajax({
            url: "/api/DeleteTransportDetails",
            method: "POST",
            data: {
                Id:id,
                CompanyId:@Session["CompanyId"],
            },
            dataType: "json",
             success: function (result) {
                 toastr.success("Deleted Successfully");
                loadData("TransportationDetails");
            },
            error: function (e) {
                console.error(e);
                alert(e.statusText);
            }
        })


            }
        })
    }



    var hideAll = function () {
        $("#divstartpoint").hide();
        $("#divStartPlaceDetails").hide();
        $("#divTransportationDetails").hide();
    }
</script>

