body {
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.form-control {
    min-width: 50px
}

label {
    font-weight: 600
}

.header-text {
    color: blueviolet
}

.btn-default {
    background-color: blueviolet !important;
    color: white !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    border-radius: 20px !important;
}

    .btn-default:hover {
        background-color: indigo !important;
    }

a {
    color: blueviolet !important;
}

    a:hover {
        color: indigo !important;
    }

.sidebar a {
    color: white !important;
}
