body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top:30px;
    padding-left: 30px;
    padding-right: 15px;
}
.flexContainer {
    display: flex;
    align-items: center;
}

.modal-dialog {
    padding-top: 50px;
    width: 700px !important;
    margin: auto;
}

.bordered-table {
    width: 100%;
}

    .bordered-table td,
    .bordered-table th {
        border: 1px solid #dddddd;
        padding: 3px;
        height: auto;
        width: auto;
    }

    .bordered-table th {
        padding: 5px;
        text-align: center;
    }

.radio-label {
    font-weight: lighter;
}

.flexContainer {
    display: flex;
    align-items: center;
}
